<section class="about">
  <div class="container">
    <div class="about__wrap">
      <div class="about__heading-content">
        <div class="about__heading">
          <h1>{{ section.settings.title }}</h1>
        </div>
        <div class="about__title-box">
            {% for block in section.blocks %}
                <div class="about__title about__title--{{ forloop.index }} {% if forloop.index == 1  %}about__active{% endif %}"  
                data-index="{{ forloop.index }}">
                    <span>{{ block.settings.title }}</span>
                </div>
            {% endfor %}
        </div>
      </div>
      <div class="about__img-content">
          {% for block in section.blocks %}
            <div class="about__img-box {% if forloop.index == 1  %}about__active-content{% endif %} about__img-box--{{ forloop.index }} ">
                <img
                src="{{ block.settings.image | img_url: 'master' }}"
                alt="{{ block.settings.alt }}"
                class="about__img"
                />
            </div>
          {% endfor %}
        <div class="about__text">
          {{ section.settings.copy }}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
    "name": "About",
    "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "About us"
        },
        {
            "id": "copy",
            "type": "richtext",
            "label": "Copy"
        }
    ],
    "blocks": [
        {
            "name": "AboutTabs",
            "type": "about-tabs",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Title"
                },
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Image"
                },
                {
                    "id": "alt",
                    "type": "text",
                    "label": "Image Alt"
                }
            ]
        }
    ],
    "presets": [
        {
        "category": "Home Page",
        "name": "About"
        }
    ]
}
{% endschema %}