<section class="like">
    <div class="container">
        <div class="like__heading">
            <h2>
                <span class="like__heading-small">{{ section.settings.title-small }}</span><br>
                {{ section.settings.title-big }}
            </h2>
        </div>
        <div class="like__content">
            {% for block in section.blocks %}
                <div class="like__card">
                    <div class="like__img-box">
                        <picture class="like__img">
                            <source media="(max-width: 600px)" srcset="{{ block.settings.product.featured_image | img_url: 'medium' }}">
                            <source media="(max-width: 1200px)" srcset="{{ block.settings.product.featured_image | img_url: 'medium' }}">
                            <img src="{{ block.settings.product.featured_image | img_url: 'master' }}" alt="{{ block.product.title }}">
                        </picture>
                        <div class="like__hover-info">
                            <div class="like__rating">
                                <div class="like__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="like__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="like__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="like__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="like__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="like__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="like__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="like__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="like__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="like__svg-star">
                                        <defs>
                                            <clipPath id="rect16284126205765">
                                                <path
                                                    d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                                    class="mask"></path>
                                            </clipPath>
                                        </defs>
                                        <rect clip-path="url(#rect16284126205765)" width="4.5269999999999975" x="0.5" y="0"
                                            height="14.15" fill="#000"></rect>
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="like__price">
                                {{ block.product.price | money_with_currency }}
                            </div>
                            <div class="like__cart">
                                <span>
                                    Add to cart
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="like__desc-wrap">
                        <div class="like__desc">
                            <span class="like__desc-title">{{ block.product.title }}</span>
                            <span class="like__separator">/</span>
                            <div class="like__text">
                                <p>{{ block.product-desc }}</p>
                            </div>
                        </div>
                        <div class="like__price-bottom"> {{ block.product.price | money_with_currency }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "AlsoLike",
    "settings": [
        {
            "id": "title-small",
            "type": "text",
            "label": "Title small",
            "default": "You May"
        },
        {
            "id": "title-big",
            "type": "text",
            "label": "Title big",
            "default": "Also Like"
        }
    ],
    "blocks": [
        {
            "name": "AlsoLikeProducts",
            "type": "also-like-products",
            "settings": [
                {
                    "id": "product",
                    "type": "product",
                    "label": "Select Product"
                },
                {
                    "id": "product-desc",
                    "type": "text",
                    "label": "Add text under product"
                }
            ]
        }
    ],
    "presets": [
        {
        "category": "Product",
        "name": "Also Like"
        }
    ]
}
{% endschema %}