<section class="types">
  <div class="container">
    <p class="types__subtitle">{{ section.settings.title }}</p>
    <div class="types__wrap">
      <div class="types__card" data-index="0">
        <div class="types__img-box">
          <picture class="types__img">
            <source
              media="(max-width: 1200px)"
              srcset="{{ "test-regcontrl-1.jpg" | asset_url }}"
            />
            <img
              src="{{ "test-regcontrl-1.jpg" | asset_url }}"
              alt="Uruoi Home Background Image"
            />
          </picture>
        </div>
        <span class="types__span types__active">Oily/Combination </span>
      </div>
      <div class="types__card" data-index="1">
        <div class="types__img-box">
          <picture class="types__img">
            <source
              media="(max-width: 1200px)"
              srcset="{{ "test-regcontrl-tablet-2.jpg" | asset_url }}"
            />
            <img
              src="{{ "test-regcontrl-2.jpg" | asset_url }}"
              alt="Uruoi Home Background Image"
            />
          </picture>
        </div>
        <span class="types__span"> Normal </span>
      </div>
      <div class="types__card" data-index="2">
        <div class="types__img-box">
          <picture class="types__img">
            <source
              media="(max-width: 1200px)"
              srcset="{{ "test-regcontrl-tablet-3.jpg" | asset_url }}"
            />
            <img
              src="{{ "test-regcontrl-3.jpg" | asset_url }}"
              alt="Uruoi Home Background Image"
            />
          </picture>
        </div>
        <span class="types__span"> Sensitive </span>
      </div>
      <div class="types__card" data-index="3">
        <div class="types__img-box">
          <picture class="types__img">
            <source
              media="(max-width: 1200px)"
              srcset="{{ "test-regcontrl-tablet-4.jpg" | asset_url }}"
            />
            <img
              src="{{ "test-regcontrl-4.jpg " | asset_url }}"
              alt="Uruoi Home Background Image"
            />
          </picture>
        </div>
        <span class="types__span"> dry skin </span>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "CategoryButtons",
  "max_blocks": 4,
  "settings": [
    {
      "id": "title",
      "label": "Title",
      "type": "text",
      "default": "my skin type is:"
    }
  ],
  "blocks": [
    {
      "name": "CategoryButton",
      "type": "category-button",
      "settings": [
        {
          "id": "btn-text",
          "type": "text",
          "label": "Button text"
        },
        {
          "id": "img",
          "type": "image_picker",
          "label": "Button Image"
        },
        {
          "id": "alt",
          "type": "text",
          "label": "Image alt"
        }
      ]
    }
  ],
  "presets": [
    {
    "category": "Regimen",
    "name": "Category Buttons"
    }
  ]
}
{% endschema %}