<section class="ingredient">
    <div class="ingredient__wrap">
        <div class="ingredient__left-content">

            <!-- IMAGE -->
            <div class="ingredient__img-box parallax-wrapper">
                <div class='parallax-element'>
                    <picture 
                    data-scroll
                    data-scroll-speed="-.85"
                    class="ingredient__img">
                        <source media="(max-width: 600px)" srcset="{{ section.settings.img-mob | img_url: 'master' }}">
                        <source media="(max-width: 1200px)" srcset="{{ section.settings.img-tab | img_url: 'master' }}">
                        <img src="{{ section.settings.img-desk | img_url: 'master' }}" alt="{{ section.settings.alt }}">
                    </picture>
                </div>
            </div>
            <!-- END :: IMAGE -->

            <!-- TITLE -->
            <div 
            class="ingredient__heading-box">
                <div 
                data-scroll 
                data-scroll-direction="vertical" 
                data-scroll-repeat="false"
                class="ingredient__heading should-animate from-y dl-2">
                    <h3>
                        <span class="ingredient__heading-big">{{ section.settings.title-top }}<sup>™</sup> </span>
                        <span class="ingredient__heading-small">{{ section.settings.title-bottom }}</span>
                    </h3>
                </div>
            </div>
            <!-- END :: TITLE -->
        </div>

        <!-- RIGHT COLUMN -->
        <div class="ingredient__right-content">
            <div class="ingredient__text">
                {{ section.settings.copy }}
            </div>
            <div class="ingredient__img-box-small">
                <picture class="ingredient__img-small">
                    <source media="(max-width: 600px)" srcset="{{ section.settings.small-img-mob | img_url: 'master' }}">
                    <source media="(max-width: 1200px)" srcset="{{ section.settings.small-img-tab | img_url: 'master' }}">
                    <img src="{{ section.settings.small-img-desk | img_url: 'master' }}" alt="{{ section.settings.small-img-alt }}">
                </picture>
            </div>
        </div>
        <!-- END :: RIGHT COLUMN -->

    </div>
</section>

{% schema %}
{
    "name": "Content with image 3",
    "settings": [
        {
            "id": "img-desk",
            "type": "image_picker",
            "label": "Image for Desktop"
        },
        {
            "id": "img-tab",
            "type": "image_picker",
            "label": "Image for Tablet"
        },
        {
            "id": "img-mob",
            "type": "image_picker",
            "label": "Image for Mobile"
        },
        {
            "id": "alt",
            "type": "text",
            "label": "Image Alt"
        },
        {
            "id": "title-top",
            "type": "text",
            "label": "Title top",
            "default": "D.P.H.A.™"
        },
        {
            "id": "title-bottom",
            "type": "text",
            "label": "Title bottom",
            "default": "Denka Pure Hyaluronic Acid"
        },
        {
            "id": "copy",
            "type": "richtext",
            "label": "Copy"
        },
        {
            "id": "small-img-desk",
            "type": "image_picker",
            "label": "Image for Desktop"
        },
        {
            "id": "small-img-tab",
            "type": "image_picker",
            "label": "Image for Tablet"
        },
        {
            "id": "small-img-mob",
            "type": "image_picker",
            "label": "Image for Mobile"
        },
        {
            "id": "small-img-alt",
            "type": "text",
            "label": "Image Alt"
        }
    ],
    "presets": [
        {
        "category": "General",
        "name": "Content With Img 3"
        }
    ]
}
{% endschema %}