<section class="authentic">
    <div class="authentic__wrap">
        <div class="authentic__img-box">
            <picture class="authentic__img">
                <source media="(max-width: 1200px)" srcset="{{ section.settings.img-mob | img_url: 'master' }}">
                <img src="{{ section.settings.img-desk | img_url: 'master' }}" alt="{{ section.settings.alt }}">
            </picture>
        </div>
        <div class="authentic__container">
            <div class="authentic__text-box">
                <h2>
                    {{ section.settings.title }}
                </h2>
                <div class="authentic__text-wrap">
                    <div class="authentic__text">
                        {{ section.settings.copy }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Content with image 2",
    "settings": [
        {
            "id": "img-desk",
            "type": "image_picker",
            "label": "Image for Desktop"
        },
        {
            "id": "img-mob",
            "type": "image_picker",
            "label": "Image for Mobile"
        },
        {
            "id": "alt",
            "type": "text",
            "label": "Image Alt"
        },
        {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Uruoi is inspired by the authentic Japanese philosophy"
        },
        {
            "id": "copy",
            "type": "richtext",
            "label": "Copy"
        }
    ],
    "presets": [
        {
        "category": "General",
        "name": "Content With Img 2"
        }
    ]
}
{% endschema %}