<section class="science parallax-wrapper">
  <div class="container">

    <!-- BG IMAGE -->
    <picture class="science__img parallax-element">
      <source media="(max-width: 600px)" srcset="{{
        section.settings.img-mob  | img_url: 'master'
      }}"> 
      <source media="(max-width: 1200px)" srcset="{{
        section.settings.img-desk  | img_url: 'master'
      }}"> 
      <img
      data-scroll 
      data-scroll-speed="-.85" 
      src="{{ section.settings.img-desk  | img_url: 'master' }}" 
      alt="{{ section.settings.alt }}">
    </picture>
    <!-- END :: BG IMAGE -->

    <!-- CONTENT -->
    <div class="science__wrap">

      <a href="#" class="science__link">
        <div 
        data-scroll data-scroll-direction="vertical" 
        data-scroll-repeat="false"
        class="science__subtitle should-animate from-y dl-1">
          <span class="science__span">{{ section.settings.subtitle }}</span>
        </div>

        <div 
        data-scroll data-scroll-direction="vertical" 
        data-scroll-repeat="false"
        class="science__title should-animate from-y dl-2">
          <h4>{{ section.settings.title }}</h4>
        </div>

        <div
        class='should-animate from-y dl-2'
        data-scroll data-scroll-direction="vertical" 
        data-scroll-repeat="false">
          <div class="science__text">
            {{ section.settings.copy }}
          </div>
        </div>

      </a>
    </div>
    <!-- END :: CONTENT -->

  </div>
</section>

{% schema %}
{
   "name": "drop",
   "settings": [
      {
         "id": "subtitle",
         "type": "text",
         "label": "Subtitle",
         "default": "SINCE 1989"
      },
      {
         "id": "title",
         "type": "text",
         "label": "Title",
         "default": "Science To Skin Care"
      },
      {
         "id": "copy",
         "type": "richtext",
         "label": "Copy"
      },
      {
         "id": "img-desk",
         "type": "image_picker",
         "label": "Background Image for Desktop"
      },
      {
         "id": "img-mob",
         "type": "image_picker",
         "label": "Background Image for Mobile"
      },
      {
         "id": "alt",
         "type": "text",
         "label": "Image alt"
      }
   ],
   "presets": [
      {
      "category": "General",
      "name": "Drop"
      }
    ]
}
{% endschema %}