<section id='fixed-target' class="def-page">
    <div class="container-fluid">
        <div class="def-page__container">
            <aside 
            data-scroll
            data-scroll-offset='-100'
            data-scroll-target="#fixed-target" 
            data-scroll-sticky
            class="def-page__aside">
                <ul class="def-page__list">
                    <li 
                    data-title='general'
                    class="def-page__list-item active">
                        General
                    </li>
                    <li 
                    data-title='products'
                    class="def-page__list-item">
                        Products
                    </li>
                    <li 
                    data-title='regimen'
                    class="def-page__list-item">
                        Regimen
                    </li>
                    <li 
                    data-title='payment'
                    class="def-page__list-item">
                        Payment and Shipping
                    </li>
                    <li 
                    data-title='returns'
                    class="def-page__list-item">
                        Returns and exchanges
                    </li>
                    <li 
                    data-title='other'
                    class="def-page__list-item">
                        Other Questions?
                    </li>
                </ul>
            </aside>

            <div class="def-page__content def-page__content--faq">

                <h2 
                data-section='general' 
                class="def-page__title">General</h2>
                <ul class="faq-accordion">
                {% for block in section.blocks %}
                {% if block.type == 'general' %}
                    <li class="faq-accordion__item faq-accordion__item--active">
                        <button class="faq-accordion__button">{{block.settings.title}}</button>
                        <div class="faq-accordion__answer">
                        <p>{{block.settings.answer}}</p>
                        </div>
                    </li>
                  
                {% endif %}
                {% endfor %}
                </ul> 

                <h2 
                data-section='products'
                class="def-page__title">Products</h2>
                <ul class="faq-accordion">
                    {% for block in section.blocks %}
                    {% if block.type == 'products' %}
                        <li class="faq-accordion__item faq-accordion__item--active">
                            <button class="faq-accordion__button">{{block.settings.title}}</button>
                            <div class="faq-accordion__answer">
                            <p>{{block.settings.answer}}</p>
                            </div>
                        </li>
                    
                    {% endif %}
                    {% endfor %}
                </ul>

                <h2 
                data-section='regimen'
                class="def-page__title">Regimen</h2>
                <ul class="faq-accordion">
                    {% for block in section.blocks %}
                        {% if block.type == 'regimen' %}
                            <li class="faq-accordion__item faq-accordion__item--active">
                                <button class="faq-accordion__button">{{block.settings.title}}</button>
                                <div class="faq-accordion__answer">
                                <p>{{block.settings.answer}}</p>
                                </div>
                            </li>
                        
                        {% endif %}
                    {% endfor %}
                </ul>


                <h2 
                data-section='payment'
                class="def-page__title">Payment and Shipping</h2>
                <ul class="faq-accordion">
                    {% for block in section.blocks %}
                    {% if block.type == 'payment' %}
                        <li class="faq-accordion__item faq-accordion__item--active">
                            <button class="faq-accordion__button">{{block.settings.title}}</button>
                            <div class="faq-accordion__answer">
                            <p>{{block.settings.answer}}</p>
                            </div>
                        </li>
                    
                    {% endif %}
                    {% endfor %}
                </ul>

                <h2 
                data-section='returns'
                class="def-page__title">Returns and exchanges</h2>
                <ul class="faq-accordion">
                    {% for block in section.blocks %}
                        {% if block.type == 'returns' %}
                            <li class="faq-accordion__item faq-accordion__item--active">
                                <button class="faq-accordion__button">{{block.settings.title}}</button>
                                <div class="faq-accordion__answer">
                                <p>{{block.settings.answer}}</p>
                                </div>
                            </li>
                        
                        {% endif %}
                    {% endfor %}
                </ul>

                <h2 
                data-section='other'
                class="def-page__title">Other Questions?</h2>
                <div>
                    <p>If you have any other questions, please email us at <a href="mailto:hello@uruoiskincare.com">hello@uruoiskincare.com</a>. with your questions, and we will do our best to reply as quickly as we can!</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "FAQ",
    "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "Other questions title",
            "default": "Other Questions?"
        },
        {
            "id": "copy",
            "type": "richtext",
            "label": "Other questions copy"
        }
    ],
    "blocks": [
        {
            "name": "General Questions",
            "type": "general",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Title",
                    "default": "What does uruoi mean?"
                },
                {
                    "id": "answer",
                    "type": "richtext",
                    "label": "Answer"
                }
            ]
        },
        {
            "name": "Products Questions",
            "type": "products",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Title",
                    "default": "What does uruoi mean?"
                },
                {
                    "id": "answer",
                    "type": "richtext",
                    "label": "Answer"
                }
            ]
        },
        {
            "name": "Regimen Questions",
            "type": "regimen",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Title",
                    "default": "What does uruoi mean?"
                },
                {
                    "id": "answer",
                    "type": "richtext",
                    "label": "Answer"
                }
            ]
        },
        {
            "name": "Payment and Shipping",
            "type": "payment",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Title",
                    "default": "What does uruoi mean?"
                },
                {
                    "id": "answer",
                    "type": "richtext",
                    "label": "Answer"
                }
            ]
        },
        {
            "name": "Returns and Exchanges",
            "type": "returns",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Title",
                    "default": "What does uruoi mean?"
                },
                {
                    "id": "answer",
                    "type": "richtext",
                    "label": "Answer"
                }
            ]
        }
    ]
}
{% endschema %}