{%- comment -%}
ovde sam napravio novu komponentu. Posto ima ove zajebancije sa slikama na mobilnom mislio sam da je bolje da ide odvojeno
Komponenta za setove koja ima vise od dva koraka je u zigzag.liquid -> features__content-bottom, ako hoces da obrnes redosled dodaj jos features__content-bottom--reverse
{%- endcomment -%}
<section class="how-to-use">
    <div class="how-to-use__container">
        <div class="how-to-use__big-img">
            <picture>
                <source media="(max-width: 1200px)" srcset="{{ 'U2.png' | asset_img_url: 'master' }}"/>
                <img src="{{ 'U2.png' | asset_img_url: 'master' }}" alt="" />
            </picture>
        </div> 
        <div class="how-to-use__content">
            <h2 class="how-to-use__title-wrapper">
                <span class="how-to-use__title-small">How</span>
                <span class="how-to-use__title-big">To Use</span>
            </h2>
            <ul class="how-to-use__list">
                <li class="how-to-use__list-item how-to-use__list-item--first">
                    <div class="how-to-use__img-wrapper">
                        <span class="how-to-use__num">1</span>
                        <picture class="how-to-use__img">
                            <source media="(max-width: 1200px)" srcset="{{ 'how1.png' | asset_img_url: 'master' }}"/>
                            <img src="{{ 'how1.png' | asset_img_url: 'master' }}" alt="" />
                        </picture>
                    </div>
                    <p class="how-to-use__text">Apply U1 make-up cleansing directly to dry hands and face. Gently massage into skin to remove make-up and bring pore-clogging impurities to the surface to be removed. Rinse with lukewarm water.</p>
                </li>
                <li class="how-to-use__list-item how-to-use__list-item--second">
                    <div class="how-to-use__img-wrapper">
                        <span class="how-to-use__num">2</span>
                        <picture class="how-to-use__img">
                            <source media="(max-width: 1200px)" srcset="{{ 'how2.png' | asset_img_url: 'master' }}"/>
                            <img src="{{ 'how2.png' | asset_img_url: 'master' }}" alt="" />
                        </picture>
                    </div>
                    <p class="how-to-use__text">Begin with wet hands and face. Apply a small pea-sized amount of U2 clean foam onto wet hands and then lather on hands. Apply lathered foam onto face and massage into skin. Rinse with lukewarm water.</p>
                </li>
            </ul>
        </div>
    </div>
</section>