{%- comment -%}
ovde sam napravio novu komponentu. Posto ima ove zajebancije sa slikama na mobilnom mislio sam da je bolje da ide odvojeno
Komponenta za setove koja ima vise od dva koraka je u zigzag.liquid -> features__content-bottom, ako hoces da obrnes redosled dodaj jos features__content-bottom--reverse
{%- endcomment -%}
<section class="features zigzag">
        <div class="features__content-bottom features__content-bottom--reverse">
        <!-- IMAGE WRAPPER -->
        <div class="features__img-box-bottom parallax-wrapper">
            <div class="parallax-element">
                <picture 
                data-scroll 
                data-scroll-speed="-.85"
                class="features__img-bottom">
                    <source media="(max-width: 600px)" srcset="{{product.metafields.zigzag.third_image}}">
                    <source media="(max-width: 1200px)" srcset="{{product.metafields.zigzag.third_image}}">
                    <img src="{{product.metafields.zigzag.third_image}}" alt="{{product.title}}">
                </picture>
            </div>
        </div>
        <!-- END :: IMAGE WRAPPER -->

        <!-- NUMBERED LIST -->
        <div class="features__wrap-bottom">
            <div 
            data-scroll 
            data-scroll-direction="vertical" 
            data-scroll-repeat="false"
            class="features__heading-sub should-animate dl-1 from-y">
                <h3>{{product.metafields.zigzag.third_part_title}}</h3>
            </div>

            <div 
            data-scroll 
            data-scroll-direction="vertical" 
            data-scroll-repeat="false"
            class="features__text-bottom should-animate dl-2 from-y">
                <p>
                    {% assign counter = 1%}

                {% for column in product.metafields.zigzag.third_list %} 
                    {%- assign columnTitle = column -%}
                    <span class="features__separator"><span class="features__num">0{{ counter }}.</span>{{ product.metafields.zigzag.third_list[forloop.index0] }}</span>
                    {% assign counter = counter | plus:1 %}
                {% endfor %}
                </p>
        </div>
        {% if product.metafields.zigzag.disclaimer %}
        <div style="color: #7f7f7f;" class="disclaimer">
            {{product.metafields.zigzag.disclaimer}}
        </div>
        {% endif %}
</div>
</section>