<section class="grid">
    <div class="container">
        <div class="grid__heading-main">
            <h2>All Products</h2>
        </div>
        <div class="grid__wrap">
                    {% assign colHandle = collection.handle%}
                    {% for product in collections[colHandle].products %}
                    {% assign type = '' %}
                    {% for collection in product.collections %}	
                        {% assign type = type | append: ',' | append: collection.handle %}
                        {% if type contains 'best-seller' %}
                            {% assign bs = 'true' %}
                        {% else %}
                            {% assign bs = 'false' %}
                        {% endif %}
                    {% endfor %}
                    {% assign types = type | remove_first: "," %}
                        <div class="grid__card" 
                        data-product-type="{{types}}"
                        data-best-seller="{{bs}}"
                        data-rating={{product.metafields.yotpo.reviews_average}}>
                            <div class="grid__content">
                                <div class="grid__link">
                                    <div class="grid__img-box">
                                        <picture class="grid__img">
                                            <source media="(max-width: 600px)" srcset="{{ product.featured_image | img_url: 'master' }}">
                                            <source media="(max-width: 1200px)" srcset="{{ product.featured_image | img_url: 'master' }}">
                                            <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
                                        </picture>
                                    </div>
                                    {% assign mark = product.metafields.yotpo.reviews_average | plus: 0 %}
                                    <div class="grid__hover-info">
                                        <a class="grid__overlay-link" href="{{ product.url }}"></a>
                                        <div class="grid__rating">
                                            <div class="grid__star">
                                                {% render 'fullStar' %}
                                            </div>
                                            <div class="grid__star">
                                                {% render 'fullStar' %}
                                            </div>
                                            <div class="grid__star">
                                                {% render 'fullStar' %}
                                            </div>
                                            <div class="grid__star">
                                                {% render 'fullStar' %}
                                            </div>
                                            
                                            {% if mark > 4 %}
                                            <div class="grid__star">
                                                {% render 'epmtyStar' %}
                                            </div>
                                            {% else if mark > 4.49 %}
                                            <div class="grid__star">
                                                {% render 'halfStar' %}
                                            </div>
                                            {% else %}
                                            <div class="grid__star">
                                                {% render 'fullStar' %}
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="grid__price">
                                            {{ product.price | money }}
                                        </div>
                                        <button class="atc-button add-to-cart grid__cart" data-quantity="1" data-variant-id="{{product.first_available_variant.id}}">Add To Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="grid__heading">
                                <a href="{{ product.url }}" data-mh="title-5">{{ product.title }}</a>
                            </div>
                            <p class="grid__subtitle">{{product.metafields.product.subtext}}</p>
                        </div>
                    {% endfor %}
        </div>
    </div>
</section>