<section class="product">
  <div class="container">
    <div 
    data-scroll 
    data-scroll-direction="vertical" 
    data-scroll-repeat="false"
    class="product__top-wrap should-animate from-y">
      <div class="product__breadcrumb-box">
        <ul class="product__breadcrumb-list">
          <li class="product__item">
            <a href="{{ shop.url }}" class="product__link">home</a>
          </li>
          <li class="product__item">
            <a href="{{ routes.collections_url }}" class="product__link">all</a>
          </li>
          <li class="product__item-active">
            <span class="product__link-active">{{ product.title }}</span>
          </li>
        </ul>
      </div>
      <div class="product__top-buttons d-none-lg">
        <a href="#" class="product__btn">prev</a>
        <span class="product__separator">-</span>
        <a href="#" class="product__btn">next</a>
      </div>
    </div>
  </div>

  <div class="product__content">
    <div 
    data-scroll 
    data-scroll-direction="vertical" 
    data-scroll-repeat="false"
    class="product__img-box should-animate from-y dl-1">
      <picture class="product__img">
        <source media="(max-width: 600px)" srcset="{{ product.featured_image | img_url: 'master' }}">
        <source media="(max-width: 1200px)" srcset="{{ product.featured_image | img_url: 'master' }}">
        <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
      </picture>
    </div>

    <div 
    data-scroll 
    data-scroll-direction="vertical" 
    data-scroll-repeat="false"
    class="product__right-box should-animate from-y dl-1">
      <div class="product__top-buttons d-none-2">
        <a href="#" class="product__btn">prev</a>
        <span class="product__separator">-</span>
        <a href="#" class="product__btn">next</a>
      </div>
      <div class="product__heading-wrap">
        <div class="product__heading">
          <h1>{{ product.title }}</h1>
        </div>
        <div class="product__price">
          <span class="product__price-big">{{ product.price | money }}</span>
          {%- comment -%}
            <span class="product__price-small">($103.00 Value)</span>
          {%- endcomment -%}
        </div>
      </div>
      <div class="product__subtitle">
        <span>{{product.metafields.product.subtext}}</span>
      </div>
      <div class="product__desc">
        <p>{{product.metafields.product.volume}}</p>
      </div>
      <div class="product__flex">
        <div class="product__wrap">
          <div class="product__btn-box">
            <div class="product__qty">
              qty
            </div>
            <!-- <div class="product__count">
              <button class="product__minus">
                -
              </button>
              <input type="number" name="quantity" min="1" max="100" value="1" class="input input--number">

              <button class="product__plus">
                +
              </button>
            </div> -->
            <div class="quantity product__count">
              <div class="dec product__minus">-</div>
              <div class="ammount">1</div>
              <div class="inc product__plus">+</div>
            </div>
          </div>
          <button class="atc-button add-to-cart btn btn--cart" data-variant-Id="{{product.variants[0].id}}" data-quantity="1">
            <span class="btn--span disabled">
              <span class="btn--arrow">
                <svg width="28px" height="19px" viewBox="0 0 28 19">
                  <g stroke="none" stroke-width="1" fill-rule="evenodd">
                    <g transform="translate(-230.000000, -3082.000000)">
                      <path
                        d="M248.747826,3082 L247.530435,3083.39706 C250.93913,3086.75 253.373913,3089.07843 254.834783,3090.38235 C249.709069,3090.33044 241.430808,3090.33044 230,3090.38235 L230,3092.05882 C241.434357,3092.01824 249.712618,3092.01824 254.834783,3092.05882 C253.373913,3093.54902 250.93913,3095.97059 247.530435,3099.32353 L248.747826,3101 L258,3091.22059 L248.747826,3082 Z">
                      </path>
                    </g>
                  </g>
                </svg>
              </span>
              Add To Cart
            </span>
          </button>
        </div>
        <div class="product__text">
          <p>
            {{ product.description }} 
          </p>
          <div class="product__badges">
          {% if product.metafields.product.icons contains "index1" %}
            <span class="product__should-animatße">
              <img
                src="//images.ctfassets.net/35vb6ef1spkj/2BUaI4fKzj0qSixnVqfrip/765b733afd91f081817da598e54753c2/1.svg"
                class="product__badge">
            </span>
          {% endif %}
          {% if product.metafields.product.icons contains "index10" %}
            <span class="product__should-animate">
              <img
                src="https://cdn.shopify.com/s/files/1/0066/4774/2527/files/Icon_c106b983-508c-461c-929b-3862069e5289.svg?v=1633706214"
                class="product__badge">
            </span>
          {% endif %}
          {% if product.metafields.product.icons contains "index150" %}
            <span class="product__should-animate">
              <img
                src="https://cdn.shopify.com/s/files/1/0066/4774/2527/files/Icon_1.png?v=1633706194"
                class="product__badge">
            </span>
          {% endif %}
          {% if product.metafields.product.icons contains "index550" %}
            <span class="product__should-animate">
              <img
                src="https://cdn.shopify.com/s/files/1/0066/4774/2527/files/Icon.svg?v=1633706194"
                class="product__badge">
            </span>
          {% endif %}
          {% if product.metafields.product.icons contains "night" %}
            <span class="product__should-animate">
              <img
                src="https://cdn.shopify.com/s/files/1/0066/4774/2527/files/Icon_3_3772ab4d-3c51-4923-95fc-5de2ef139f23.svg?v=1633706214"
                class="product__badge">
            </span>
            {% endif %}
            {% if product.metafields.product.icons contains "day" %}
            <span class="product__should-animate">
              <img
                src="//images.ctfassets.net/35vb6ef1spkj/Szgh31cMXQJGuuZ8XShNb/65bf5cbff7cd5056daeb247b118bbd36/2.svg"
                class="product__badge">
            </span>
            {% endif %}
            {% if product.metafields.product.icons contains "nightAndDay" %}
            <span class="product__should-animate">
              <img
                src="https://cdn.shopify.com/s/files/1/0066/4774/2527/files/Icon_3.svg?v=1633706194"
                class="product__badge">
            </span>
            {% endif %}
            {% if product.metafields.product.icons contains "colorantFree" %}
            <span class="product__should-animate">
              <img
                src="https://cdn.shopify.com/s/files/1/0066/4774/2527/files/Icon_4.svg?v=1633706214"
                class="product__badge">
            </span>
            {% endif %}
            {% if product.metafields.product.icons contains "fragranceFree" %}
            <span class="product__should-animate">
              <img
                src="https://cdn.shopify.com/s/files/1/0066/4774/2527/files/Icon_2.svg?v=1633706214"
                class="product__badge">
            </span>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>