<section class="product">
  <div class="container">
    <div class="product__top-wrap">
      <div class="product__breadcrumb-box">
        <ul class="product__breadcrumb-list">
          <li class="product__item">
            <a href="{{ shop.url }}" class="product__link">home</a>
          </li>
          <li class="product__item">
            <a href="{{ routes.collections_url }}" class="product__link">all</a>
          </li>
          <li class="product__item-active">
            <span class="product__link-active">{{ product.title }}</span>
          </li>
        </ul>
      </div>
      <div class="product__top-buttons d-none-lg">
        <a href="#" class="product__btn">prev</a>
        <span class="product__separator">-</span>
        <a href="#" class="product__btn">next</a>
      </div>
    </div>
  </div>
  <div class="product__content">
    <div class="product__img-box">
      <picture class="product__img">
        <source media="(max-width: 600px)" srcset="{{ product.featured_image | img_url: 'master' }}">
        <source media="(max-width: 1200px)" srcset="{{ product.featured_image | img_url: 'master' }}">
        <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
      </picture>
    </div>
    <div class="product__right-box">
      <div class="product__top-buttons d-none-2">
        <a href="#" class="product__btn">prev</a>
        <span class="product__separator">-</span>
        <a href="#" class="product__btn">next</a>
      </div>
      <div class="product__heading-wrap">
        <div class="product__heading">
          <h1>{{ product.title }}</h1>
        </div>
        <div class="product__price">
          <span class="product__price-big">{{ product.price | money }}</span>
          {%- comment -%}
            <span class="product__price-small">($103.00 Value)</span>
          {%- endcomment -%}
        </div>
      </div>
      <div class="product__subtitle">
        <span>discovery set</span>
      </div>
      <div class="product__desc">
        <p>4.94 FL. OZ. / 5.47 fl.oz / 4.94 FL. OZ.</p>
      </div>
      <div class="product__flex">
        <div class="product__wrap">
          <div class="product__btn-box">
            <div class="product__qty">
              qty
            </div>
            <!-- <div class="product__count">
              <button class="product__minus">
                -
              </button>
              <input type="number" name="quantity" min="1" max="100" value="1" class="input input--number">

              <button class="product__plus">
                +
              </button>
            </div> -->
            <div class="quantity product__count">
              <div class="dec product__minus">-</div>
              <div class="ammount">1</div>
              <div class="inc product__plus">+</div>
            </div>
          </div>
          <button class="atc-button add-to-cart btn btn--cart" data-variant-Id="{{product.variants[0].id}}" data-quantity="1">
            <span class="btn--span">
              <span class="btn--arrow">
                <svg width="28px" height="19px" viewBox="0 0 28 19">
                  <g stroke="none" stroke-width="1" fill-rule="evenodd">
                    <g transform="translate(-230.000000, -3082.000000)">
                      <path
                        d="M248.747826,3082 L247.530435,3083.39706 C250.93913,3086.75 253.373913,3089.07843 254.834783,3090.38235 C249.709069,3090.33044 241.430808,3090.33044 230,3090.38235 L230,3092.05882 C241.434357,3092.01824 249.712618,3092.01824 254.834783,3092.05882 C253.373913,3093.54902 250.93913,3095.97059 247.530435,3099.32353 L248.747826,3101 L258,3091.22059 L248.747826,3082 Z">
                      </path>
                    </g>
                  </g>
                </svg>
              </span>
              Add To Cart
            </span>
          </button>
        </div>
        <div class="product__text">
          <p>
            {{ product.description }} 
          </p>

          <div class="product__badges">
            <span class="product__should-animate">
              <img
                src="//images.ctfassets.net/35vb6ef1spkj/2BUaI4fKzj0qSixnVqfrip/765b733afd91f081817da598e54753c2/1.svg"
                class="product__badge">
            </span>
            <span class="product__should-animate">
              <img
                src="//images.ctfassets.net/35vb6ef1spkj/BmYkfbKXndDvfCHXgCwWB/d041bb317f05dbac449dd5f2ed3c622b/4.svg"
                class="product__badge">
            </span>
            <span class="product__should-animate">
              <img
                src="//images.ctfassets.net/35vb6ef1spkj/5suxMcYS4dxnOHvC6iMD2j/78d10fda75d3196c5cbfaf9ffc51c880/2.svg"
                class="product__badge">
            </span>
            <span class="product__should-animate">
              <img
                src="//images.ctfassets.net/35vb6ef1spkj/Szgh31cMXQJGuuZ8XShNb/65bf5cbff7cd5056daeb247b118bbd36/2.svg"
                class="product__badge">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>