<section class="staples">
   <div class="container-left">
      <div class="staples__container">
         <div class="staples__wrap">
            <h2 class="staples__title">{{ section.settings.title }}</h2>
            {% if section.settings.subtitle and section.settings.subtitle != '' %}
               <div class="staples__subtitle">
                  {{ section.settings.subtitle }}
               </div>
            {% endif %}
            <div class="staples__text d-none-2">
               {{ section.settings.copy }}
            </div>
            <a href="{{ section.settings.btn-link }}" class="btn d-none-2">
               <span class="btn--span font-size-def">
                  <span class="btn--arrow">
                     <svg width="28px" height="19px" viewBox="0 0 28 19">
                        <g stroke="none" stroke-width="1" fill-rule="evenodd">
                           <g transform="translate(-230.000000, -3082.000000)">
                              <path
                                 d="M248.747826,3082 L247.530435,3083.39706 C250.93913,3086.75 253.373913,3089.07843 254.834783,3090.38235 C249.709069,3090.33044 241.430808,3090.33044 230,3090.38235 L230,3092.05882 C241.434357,3092.01824 249.712618,3092.01824 254.834783,3092.05882 C253.373913,3093.54902 250.93913,3095.97059 247.530435,3099.32353 L248.747826,3101 L258,3091.22059 L248.747826,3082 Z">
                              </path>
                           </g>
                        </g>
                     </svg>
                  </span>
                  {{ section.settings.btn-text }}
               </span>
            </a>
         </div>
         <div class="staples__slider-content">
            <div class="staples__slider">
               {% for block in section.blocks %}
                  <a href="{{ block.settings.product.url }}" class="staples__slide">
                     <picture class="staples__img">
                        {%- comment -%}If user wants to display image other than featured image{%- endcomment -%}
                        {% if block.settings.override-img %}
                           <source media="(min-width: 600px)" srcset="{{ block.settings.override-img | img_url: 'master' }}">
                           <source media="(min-width: 1200px)" srcset="{{ block.settings.override-img | img_url: 'master' }}">
                           <img src="{{ block.settings.override-img | img_url: 'master' }}" alt="{{ block.settings.product.title }}">
                        {% else %}
                           {%- comment -%}If user wants to display featured image{%- endcomment -%}
                           <source media="(min-width: 600px)" srcset="{{ block.settings.product.featured_image | img_url: 'master' }}">
                           <source media="(min-width: 1200px)" srcset="{{ block.settings.product.featured_image | img_url: 'master' }}">
                           <img src="{{ block.settings.product.featured_image | img_url: 'master' }}" alt="{{ block.settings.product.title }}">
                        {% endif %}
                     </picture>
                     <div class="staples__desc">
                        <h5>
                           {% if block.settings.override-name and block.settings.override-name != '' %}
                                 {{ block.settings.override-name }}
                              {% else %}
                                 {{ block.settings.product.title }}
                           {% endif %}
                        </h5>
                        <div class="staples__desc-text">
                           <p>{{ block.settings.product-desc }}</p>
                        </div>
                     </div>
                  </a>
               {% endfor %}
 

               <div class="staples__slide staples__slide--last">
                  <!-- on mobile last card is not visible so this empty is added to move actual last card into view -->
               </div>
            </div>
            <div class="staples__arrow-next">
               <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 492 492">
                  <g>
                     <g>
                        <path d="M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12
             C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084
             c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864
             l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z"></path>
                     </g>
                  </g>
               </svg>
            </div>
            <div class="staples__arrow-prev">
               <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 492 492" data-v-5adf6490="">
                  <g data-v-5adf6490="">
                     <g data-v-5adf6490="">
                        <path d="M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12
             C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084
             c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864
             l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z"></path>
                     </g>
                  </g>
               </svg>
            </div>
         </div>
         <div class="staples__text d-none-lg">
            {{ section.settings.copy }}
         </div>
         <a href="{{ section.settings.btn-link }}" class="btn d-none-lg">
            <span class="btn--span">
               <span class="btn--arrow">
                  <svg width="28px" height="19px" viewBox="0 0 28 19">
                     <g stroke="none" stroke-width="1" fill-rule="evenodd">
                        <g transform="translate(-230.000000, -3082.000000)">
                           <path
                              d="M248.747826,3082 L247.530435,3083.39706 C250.93913,3086.75 253.373913,3089.07843 254.834783,3090.38235 C249.709069,3090.33044 241.430808,3090.33044 230,3090.38235 L230,3092.05882 C241.434357,3092.01824 249.712618,3092.01824 254.834783,3092.05882 C253.373913,3093.54902 250.93913,3095.97059 247.530435,3099.32353 L248.747826,3101 L258,3091.22059 L248.747826,3082 Z">
                           </path>
                        </g>
                     </g>
                  </svg>
               </span>
               {{ section.settings.btn-text }}
            </span>
         </a>
      </div>
   </div>
</section>

<script>
   $(function () {
      $('.staples__slider').slick({
         infinite: false,
         speed: 300,
         slidesToShow: 3,
         slidesToScroll: 1,
         nextArrow: '.staples__arrow-next',
         prevArrow: '.staples__arrow-prev',
         responsive: [
            {
               breakpoint: 600,
               settings: {
                  slidesToShow: 2,
                  slidesToScroll: 1
               }
            },
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
         ]
      });
   });
</script>

{% schema %}
{
   "name": "ProductSlider",
   "settings": [
      {
         "id": "title",
         "type": "text",
         "label": "Title",
         "default": "Hydration Staples"
      },
      {
         "id": "subtitle",
         "type": "richtext",
         "label": "Subtitle"
      },
      {
         "id": "copy",
         "type": "richtext",
         "label": "Copy"
      },
      {
         "id": "btn-text",
         "type": "text",
         "label": "Button Text"
      },
      {
         "id": "btn-link",
         "type": "url",
         "label": "Button Link"
      }
   ],
   "blocks": [
      {
         "name": "ProductSlider",
         "type": "product-slider",
         "settings": [
            {
               "id": "product",
               "type": "product",
               "label": "Product"
            },
            {
               "id": "override-img",
               "type": "image_picker",
               "label": "Override Products Featured Image"
            },
            {
               "id": "override-name",
               "type": "text",
               "label": "Override Product Name"
            },
            {
               "id": "product-desc",
               "type": "text",
               "label": "Text under the product"
            }
         ]
      }
   ],
   "presets": [
      {
      "category": "Product",
      "name": "Product Slider"
      }
   ]
}
{% endschema %}