{% if product.metafields.fullTwo.title1 %}
<section class="sets-full-ing-two">
    <div class="sets-full-ing-two__container">
        <div class="sets-full-ing-two__content">
            <div class="sets-full-ing-two__wrapper">
                <h2 class="sets-full-ing-two__title">Full Ingredients</h2>
                <div class="sets-full-ing-two__small-pic">
                    <picture>
                        <source
                          media="(max-width: 1200px)"
                          srcset="{{product.metafields.fullTwo.smallImage}}"
                        />
                        <img
                          src="{{product.metafields.fullTwo.smallImage}}"
                          alt=""
                        />
                    </picture>
                </div>
            </div>
            <div class="sets-full-ing-two__bold sets-full-ing-two__bold--first">
                <h3 class="sets-full-ing-two__prod-title">{{product.metafields.fullTwo.title1}}</h3>
                <p>{{product.metafields.fullTwo.desc1}}</p>
            </div>
            <div class="sets-full-ing-two__bold">
                <h3 class="sets-full-ing-two__prod-title">{{product.metafields.fullTwo.title2}}</h3>
                <p>{{product.metafields.fullTwo.desc2}}</p>
            </div>
            <div class="sets-full-ing-two__light">
                <p>{{product.metafields.fullTwo.fulldesc}}</p>
            </div>
        </div>
        <div class="sets-full-ing-two__img">
            <picture class="">
                <source
                  media="(max-width: 1200px)"
                  srcset="{{product.metafields.fullTwo.bigImage}}"
                />
                <img
                  src="{{product.metafields.fullTwo.bigImage}}"
                  alt=""
                />
              </picture>
        </div>
    </div>
</section>
{% endif %}