{% if product.metafields.fullMore.image %}
<section class="features__content-bottom">
    <!-- IMAGE WRAPPER -->
    <div class="features__img-box-bottom parallax-wrapper">
        <div class="parallax-element">
            <picture 
            data-scroll 
            data-scroll-speed="-.85"
            class="features__img-bottom">
                <img src="{{product.metafields.fullMore.image}}" alt="{{product.title}}">
            </picture>
        </div>
    </div>
    <!-- END :: IMAGE WRAPPER -->

    <!-- NUMBERED LIST -->
    <div class="features__wrap-bottom features__wrap-bottom--accordion">
        <div 
        data-scroll 
        data-scroll-direction="vertical" 
        data-scroll-repeat="false"
        class="features__heading-sub should-animate dl-1 from-y">
            <h3>Full Ingredients</h3>
        </div>

        <ul 
        data-scroll 
        data-scroll-direction="vertical" 
        data-scroll-repeat="false"
        class="features__text-bottom should-animate dl-2 from-y full-acc">
        {% for column in product.metafields.sets.product %} 
        {%- assign columnTitle = column -%}
            <li class="full-acc__list-item full-acc__list-item">
                <button class="full-acc__button">
                    <p class="full-acc__prod-title">{{all_products[columnTitle].title}}</p>
                    <p class="full-acc__prod-desc">{{all_products[columnTitle].metafields.product.subtext}}</p>
                    <div class="full-acc__icon">
                        <svg class="full-acc__svg full-acc__svg--plus" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.22988 0.349999H7.77988V5.4H12.8049V7.95H7.77988V13H5.22988V7.95H0.204883V5.4H5.22988V0.349999Z" fill="black"/>
                        </svg>
                        <svg class="full-acc__svg full-acc__svg--minus" width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.366602 0.35H7.6416V3.05H0.366602V0.35Z" fill="black"/>
                        </svg>
                    </div>
                </button>
                <div class="full-acc__content">
                    <p>{{all_products[columnTitle].metafields.zigzag.left_first}} </p>
                </div>
            </li>
        {% endfor %}


        {%- comment -%}
            <p>
                {% assign counter = 1%}
                
                {% for column in product.metafields.zigzag.third_list %} 
                {%- assign columnTitle = column -%}
                <span class="features__separator"><span class="features__num">0{{ counter }}.</span>{{ product.metafields.zigzag.third_list[forloop.index0] }}</span>
                {% assign counter = counter | plus:1 %}
                {% endfor %}
            </p>
        {%- endcomment -%}
        </ul>
    </div>
    <!-- END :: NUMBERED LIST -->

</section>
{% endif %}