{%- comment -%}
.sets-products - bez icega klasa sluzi za setove sa dva itema, na tabletu i desku redja proizvode jedan pored drugog
.sets-products--three - ova klasa se dodaje na setove sa tri ili cetiri proizvoda i ona ce da poredja proizvode u grid na tabletu i desku

{%- endcomment -%}
{% if product.metafields.sets.includes %}
{% assign counter = 0 %}
{% for column in product.metafields.sets.product %} 
{% assign counter = counter | plus:1 %}
{% endfor %}
{% if counter > 3 %}
{% assign klasa = "--three" %}
{% endif %}
<section class="sets-products sets-products{{klasa}}">
    <div class="sets-products__item sets-products__item--content">
        <h2 class="sets-products__title">{{product.metafields.sets.includes}}</h2>
        <h5 class="sets-products__subtitle">Recommended For:</h5>
        <p class="sets-products__content-text">{{product.metafields.sets.recom}}</p>
    </div>
    {% for column in product.metafields.sets.product %} 
    {%- assign columnTitle = column -%}
    <div class="sets-products__item sets-products__item--card">
        <a href="#">
            <picture class="">
                <img
                  src="{{ all_products[columnTitle].featured_image | img_url: 'master' }}"
                  alt=""
                />
              </picture>
        </a>
        <div class="sets-products__details">
            <a class="sets-products__product-name" href="#">{{all_products[columnTitle].title}}</a>
            <p class="sets-products__item-details">
                <span class="sets-products__purpose">{{all_products[columnTitle].metafields.product.subtext}}</span>
                <span class="sets-products__amount">{{all_products[columnTitle].metafields.product.volume}}</span>
            </p>
            <div>
                <p>{{all_products[columnTitle].description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    
</section>
{% endif %}