<section class="def-page">
    <div class="container-fluid">
        <div class="def-page__container">
            <aside 
            data-scroll
            data-scroll-offset='-100'
            data-scroll-target="#fixed-target" 
            data-scroll-sticky
            class="def-page__aside">
                <ul class="def-page__list">
                    {% for block in section.blocks %}
                        <li 
                        data-title='{{ block.settings.title }}'
                        class="def-page__list-item">{{ block.settings.title }}</li>
                    {% endfor %}
                </ul>
            </aside>
            <div 
            id='fixed-target'
            class="def-page__content">
                {% for block in section.blocks %}
                    <h2 id="{{ block.settings.title | handleize }}" data-section='{{ block.settings.title }}'>{{ block.settings.title }}</h2>
                    {{ block.settings.content }}
                {% endfor %}
            </div>
        </div>
    </div> 
</section>

{% schema %}
{
    "name": "Terms Page Content",
    "blocks": [
        {
            "name": "Terms Page Blocks",
            "type": "rp-blocks",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Title",
                    "default": "Restrictions on Use"
                },
                {
                    "id": "content",
                    "type": "richtext",
                    "label": "Content"
                }
            ]
        }
    ]
}
{% endschema %}