<section class="discovery">
    <div class="container">
        <div class="discovery__container">
            <div class="discovery__wrap">
                <div class="discovery__heading-box">
                    <div class="discovery__heading-wrap">
                        <h2>{{ section.settings.title }}</h2>
                        <span class="discovery__heading-subtitle">{{ section.settings.subtitle }}</span>
                        <div class="discovery__heading-desc">
                            {{ section.settings.copy }}
                        </div>
                    </div>
                </div>
                {% for block in section.blocks %}
                    {% if forloop.index == 1 %}
                        <div class="discovery__card">
                            <picture class="discovery__img">
                                <source media="(max-width: 600px)" srcset="{{ block.product.featured_image | img_url: 'master' }}">
                                <source media="(max-width: 1200px)" srcset="{{ block.product.featured_image | img_url: 'master' }}">
                                <img src="{{ block.product.featured_image | img_url: 'master' }}" alt="{{ block.product.title }}">
                            </picture>
                            <div class="discovery__card-wrap">
                                <div class="discovery__card-heading">
                                    <span class="discovery__card-title">{{ block.product.title }}</span>
                                    <span class="discovery__card-subtitle">{{ block.product-category }}</span>
                                </div>
                                <div class="discovery__card-desc">{{ block.product-size }}</div>
                            </div>
                            <div class="discovery__card-text">
                                {{ block.product-copy }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
            <div class="discovery__wrap">
                {% for block in section.blocks %}
                    {% if forloop.index != 1 %}
                        <div class="discovery__card">
                            <picture class="discovery__img">
                                <source media="(max-width: 600px)" srcset="{{ block.product.featured_image | img_url: 'master' }}">
                                <source media="(max-width: 1200px)" srcset="{{ block.product.featured_image | img_url: 'master' }}">
                                <img src="{{ block.product.featured_image | img_url: 'master' }}" alt="{{ block.product.title }}">
                            </picture>
                            <div class="discovery__card-wrap">
                                <div class="discovery__card-heading">
                                    <span class="discovery__card-title">{{ block.product.title }}</span>
                                    <span class="discovery__card-subtitle">{{ block.product-category }}</span>
                                </div>
                                <div class="discovery__card-desc">{{ block.product-size }}</div>
                            </div>
                            <div class="discovery__card-text">
                                {{ block.product-copy }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "TextWithThreeImgs2",
    "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Discovery set Includes"
        },
        {
            "id": "subtitle",
            "type": "text",
            "label": "Subtitle",
            "default": "recommended for:"
        },
        {
            "id": "copy",
            "type": "richtext",
            "label": "Copy"
        },
    ],
    "blocks": [
        {
            "name": "Products",
            "type": "products",
            "settings": [
                {
                    "id": "product",
                    "type": "product",
                    "label": "Product"
                },
                {
                    "id": "product-category",
                    "type": "text",
                    "label": "Product Category"
                },
                {
                    "id": "product-size",
                    "type": "text",
                    "label": "Product Size"
                },
                {
                    "id": "product-copy",
                    "type": "richtext",
                    "label": "Product Copy"
                }
            ]
        }
    ]
}
{% endschema %}