<section class="gluco">
    <div class="gluco__content">
        <div class="gluco__img-box">
            <picture class="gluco__img">
                <source media="(max-width: 600px)" srcset="{{ section.settings.big-img | img_url: 'master' }}">
                <source media="(max-width: 1200px)" srcset="{{ section.settings.big-img | img_url: 'master' }}">
                <img src="{{ section.settings.big-img | img_url: 'master' }}" alt="{{ section.settings.big-img-alt }}">
            </picture>
            <picture class="gluco__img-small">
                <source media="(max-width: 600px)" srcset="{{ section.settings.small-img | img_url: 'master' }}">
                <source media="(max-width: 1200px)" srcset="{{ section.settings.small-img | img_url: 'master' }}">
                <img src="{{ section.settings.small-img | img_url: 'master' }}" alt="{{ section.settings.small-img-alt }}">
            </picture>
        </div>
        <div class="gluco__container">
            <div class="gluco__wrap">
                <div class="gluco__text-box">
                    <div class="gluco__number">20.</div>
                    <div class="gluco__heading">
                        <h5>{{ section.settings.twentieth-title }}</h5>
                    </div>
                    <div class="gluco__text">
                        {{ section.settings.twentieth-copy }}
                    </div>
                </div>
                <div class="gluco__text-box">
                    <div class="gluco__number">21.</div>
                    <div class="gluco__heading">
                        <h5>{{ section.settings.twentyfirst-title }}</h5>
                    </div>
                    <div class="gluco__text">
                        {{ section.settings.twentyfirst-copy }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "ZigZag Partials 8",
    "settings": [
        {
            "id": "big-img",
            "type": "image_picker",
            "label": "Big Image"
        },
        {
            "id": "big-img-alt",
            "type": "text",
            "label": "Big Image Alt"
        },
        {
            "id": "small-img",
            "type": "image_picker",
            "label": "Small Image"
        },
        {
            "id": "small-img-alt",
            "type": "text",
            "label": "Small Image Alt"
        },
        {
            "id": "twentieth-title",
            "type": "text",
            "label": "20. Section Title",
            "default": "squalane:"
        },
        {
            "id": "twentieth-copy",
            "type": "richtext",
            "label": "20. Section Copy"
        },
        {
            "id": "twentyfirst-title",
            "type": "text",
            "label": "21. Section Title",
            "default": "Xylitylglucoside:"
        },
        {
            "id": "twentyfirst-copy",
            "type": "richtext",
            "label": "21. Section Copy"
        }
    ],
    "presets": [
    {
    "category": "ZigZags",
    "name": "Partial 9"
    }
]
}
{% endschema %}