<section class="features">
    <div class="features__content-top">
        <div class="container">
            <div class="features__heading-box">
                <span class="features__subtitle">
                    {{ section.settings.subtitle }}
                </span>
                <div class="features__heading">
                    <h2>{{ section.settings.title }}</h2>
                </div>
            </div>
        </div>
        <div class="features__container">
            <picture class="features__img-box">
                <source media="(max-width: 600px)" srcset="{{ section.settings.first-img-mob | img_url: 'master' }}">
                <source media="(max-width: 1200px)" srcset="{{ section.settings.first-img-tab | img_url: 'master' }}">
                <img src="{{ section.settings.first-img-desk | img_url: 'master' }}" alt="{{ section.settings.first-img-alt }}">
            </picture>
            <div class="features__wrap">
                <div class="features__heading-sub ml-3-lg">
                    <h3>{{ section.settings.first-title }}</h3>
                </div>
                <ul class="features__list">
                    {% for block in section.blocks %}
                        <li class="features__item">{{ block.first-list-item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="features__content-mid">
        <div class="features__left-box-mid">
            <div class="features__title">
                <h2>{{ section.settings.second-title }}</h2>
            </div>
            <div class="features__img-box-mid">
                <picture class="features__img-mid">
                    <source media="(max-width: 600px)" srcset="{{ section.settings.second-img-mob | img_url: 'master' }}">
                    <source media="(max-width: 1200px)" srcset="{{ section.settings.second-img-tab | img_url: 'master' }}">
                    <img src="{{ section.settings.second-img-desk | img_url: 'master' }}" alt="{{ section.settings.second-img-alt }}">
                </picture>
            </div>
            <div class="features__text-wrap">
                <div class="features__text-desc">
                    {{ section.settings.second-copy-1 }}
                </div>
                <div class="features__text-big">
                    {{ section.settings.second-copy-2 }}
                </div>
                <div class="features__text-small">
                    {{ section.settings.second-copy-3 }}
                </div>
            </div>
        </div>
        <div class="features__right-box-mid">
            <div class="features__heading-sub">
                <h3>{{ section.settings.second-content-title }}</h3>
            </div>
            <div class="features__text-mid">
                {{ section.settings.second-content }}
            </div>
        </div>
    </div>
    <div class="features__content-bottom">
        <div class="features__img-box-bottom">
            <picture class="features__img-bottom">
                <source media="(max-width: 600px)" srcset="{{ section.settings.third-img-mob | img_url: 'master' }}">
                <source media="(max-width: 1200px)" srcset="{{ section.settings.third-img-tab | img_url: 'master' }}">
                <img src="{{ section.settings.third-img-desk | img_url: 'master' }}" alt="{{ section.settings.third-img-alt }}">
            </picture>
        </div>
        <div class="features__wrap-bottom">
            <div class="features__heading-sub">
                <h3>{{ section.settings.third-title }}</h3>
            </div>
            <div class="features__text-bottom">
                <p>
                    {% for block in section.blocks %}
                        <span class="features__separator"><span class="features__num">0{{ forloop.index }}.</span>{{ block.third-list-item }}</span>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "zigzag",
    "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "Main title",
            "default": "Cleanse to glow"
        },
        {
            "id": "subtitle",
            "type": "text",
            "label": "Main subtitle",
            "default": "Don't let cleanser take away your glow."
        },
        {
            "id": "first-img-mob",
            "type": "image_picker",
            "label": "First section image mobile"
        },
        {
            "id": "first-img-tab",
            "type": "image_picker",
            "label": "First section image tablet"
        },
        {
            "id": "first-img-desk",
            "type": "image_picker",
            "label": "First section image desktop"
        },
        {
            "id": "first-img-alt",
            "type": "text",
            "label": "First section image alt"
        },
        {
            "id": "first-title",
            "type": "text",
            "label": "First section title"
        },
        {
            "id": "second-title",
            "type": "text",
            "label": "Second section title"
        },
        {
            "id": "second-img-mob",
            "type": "image_picker",
            "label": "Second section image mobile"
        },
        {
            "id": "second-img-tab",
            "type": "image_picker",
            "label": "Second section image tablet"
        },
        {
            "id": "second-img-desk",
            "type": "image_picker",
            "label": "Second section image desktop"
        },
        {
            "id": "second-img-alt",
            "type": "text",
            "label": "Second section image alt"
        },
        {
            "id": "second-copy-1",
            "type": "richtext",
            "label": "Second section copy 1"
        },
        {
            "id": "second-copy-2",
            "type": "richtext",
            "label": "Second section copy 2"
        },
        {
            "id": "second-copy-3",
            "type": "richtext",
            "label": "Second section copy 3"
        },
        {
            "id": "second-content-title",
            "type": "richtext",
            "label": "Second content title"
        },
        {
            "id": "second-content",
            "type": "richtext",
            "label": "Second content"
        },
        {
            "id": "third-img-mob",
            "type": "image_picker",
            "label": "Third section image mobile"
        },
        {
            "id": "third-img-tab",
            "type": "image_picker",
            "label": "Third section image tablet"
        },
        {
            "id": "third-img-desk",
            "type": "image_picker",
            "label": "Third section image desktop"
        },
        {
            "id": "third-img-alt",
            "type": "text",
            "label": "Third section image alt"
        },
        {
            "id": "third-title",
            "type": "text",
            "label": "Third section title"
        }
    ],
    "blocks": [
        {
            "name": "FirstSectionList",
            "type": "first-section-list",
            "settings": [
                {
                    "id": "first-list-item",
                    "type": "text",
                    "label": "List item"
                }
            ]
        },
        {
            "name": "ThirdSectionList",
            "type": "third-section-list",
            "settings": [
                {
                    "id": "third-list-item",
                    "type": "text",
                    "label": "List item"
                }
            ]
        }
    ],
    "presets": [
    {
    "category": "General",
    "name": "ZigZag"
    }
]
}
{% endschema %}