<section class="acid">
    <div class="acid__content">
        <div class="acid__img-box">
            <picture class="acid__img">
                <source media="(max-width: 600px)" srcset="{{ section.settings.big-img | img_url: 'master' }}">
                <source media="(max-width: 1200px)" srcset="{{ section.settings.big-img | img_url: 'master' }}">
                <img src="{{ section.settings.big-img | img_url: 'master' }}" alt="{{ section.settings.big-img-alt }}">
            </picture>
        </div>
        <div class="acid__container">
            <picture class="acid__img-small">
                <source media="(max-width: 600px)" srcset="{{ section.settings.small-img | img_url: 'master' }}">
                <source media="(max-width: 1200px)" srcset="{{ section.settings.small-img | img_url: 'master' }}">
                <img src="{{ section.settings.small-img | img_url: 'master' }}" alt="{{ section.settings.small-img-alt }}">
            </picture>
            <div class="acid__wrap">
                <div class="acid__text-box max-width-lg-34">
                    <div class="acid__number">6.</div>
                    <div class="acid__heading">
                        <h5>{{ section.settings.sixth-title }}</h5>
                    </div>
                    <div class="acid__text">
                        {{ section.settings.sixth-copy }}
                    </div>
                </div>
                <div class="acid__text-box">
                    <div class="acid__number">7.</div>
                    <div class="acid__heading">
                        <h5>{{ section.settings.seventh-title }}</h5>
                    </div>
                    <div class="acid__text">
                        {{ section.settings.seventh-copy }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "ZigZag Partials 3",
    "settings": [
        {
            "id": "big-img",
            "type": "image_picker",
            "label": "Big Image"
        },
        {
            "id": "big-img-alt",
            "type": "text",
            "label": "Big Image Alt"
        },
        {
            "id": "sixth-title",
            "type": "text",
            "label": "Sixth Section Title",
            "default": "Chlorella extract:"
        },
        {
            "id": "sixth-copy",
            "type": "richtext",
            "label": "Sixth Section Copy"
        },
        {
            "id": "seventh-title",
            "type": "text",
            "label": "Seventh Section Title",
            "default": "Citric acid:"
        },
        {
            "id": "seventh-copy",
            "type": "richtext",
            "label": "Seventh Section Copy"
        },
        {
            "id": "small-img",
            "type": "image_picker",
            "label": "Small Image"
        },
        {
            "id": "small-img-alt",
            "type": "text",
            "label": "Small Image Alt"
        }
    ]
}
{% endschema %}