<section class="glycerin">
    <div class="glycerin__content">
        <div class="glycerin__img-box">
            <picture class="glycerin__img">
                <source media="(max-width: 600px)" srcset="{{ section.settings.big-img | img_url: 'master' }}">
                <source media="(max-width: 1200px)" srcset="{{ section.settings.big-img | img_url: 'master' }}">
                <img src="{{ section.settings.big-img | img_url: 'master' }}" alt="{{ section.settings.big-img-alt }}">
            </picture>
            <picture class="glycerin__img-small">
                <source media="(max-width: 600px)" srcset="{{ section.settings.small-img | img_url: 'master' }}">
                <source media="(max-width: 1200px)" srcset="{{ section.settings.small-img | img_url: 'master' }}">
                <img src="{{ section.settings.small-img | img_url: 'master' }}" alt="{{ section.settings.small-img-alt }}">
            </picture>
        </div>
        <div class="glycerin__container">
            <div class="glycerin__wrap">
                <div class="glycerin__text-box">
                    <div class="glycerin__number">8.</div>
                    <div class="glycerin__heading">
                        <h5>{{ section.settings.eighth-title }}</h5>
                    </div>
                    <div class="glycerin__text max-width-lg-33">
                        {{ section.settings.eighth-copy }}
                    </div>
                </div>
                <div class="glycerin__text-box">
                    <div class="glycerin__number">9.</div>
                    <div class="glycerin__heading">
                        <h5> {{ section.settings.nineth-title }}</h5>
                    </div>
                    <div class="glycerin__text max-width-lg-38">
                        {{ section.settings.nineth-copy }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "ZigZag Partials 4",
    "settings": [
        {
            "id": "big-img",
            "type": "image_picker",
            "label": "Big Image"
        },
        {
            "id": "big-img-alt",
            "type": "text",
            "label": "Big Image Alt"
        },
        {
            "id": "small-img",
            "type": "image_picker",
            "label": "Small Image"
        },
        {
            "id": "small-img-alt",
            "type": "text",
            "label": "Small Image Alt"
        },
        {
            "id": "eighth-title",
            "type": "text",
            "label": "Eighth Section Title",
            "default": "Chlorella extract:"
        },
        {
            "id": "eighth-copy",
            "type": "richtext",
            "label": "Eighth Section Copy"
        },
        {
            "id": "nineth-title",
            "type": "text",
            "label": "Nineth Section Title",
            "default": "Citric acid:"
        },
        {
            "id": "nineth-copy",
            "type": "richtext",
            "label": "Nineth Section Copy"
        }
    ],
    "presets": [
        {
            "category": "ZigZags",
            "name": "Partial 4"
        }
    ]
}
{% endschema %}