<section class="natural">
    <div class="natural__content">
        <div class="natural__img-box">
            <picture class="natural__img">
                <source media="(max-width: 600px)" srcset="{{ section.settings.big-img | img_url: 'master' }}">
                <source media="(max-width: 1200px)" srcset="{{ section.settings.big-img | img_url: 'master' }}">
                <img src="{{ section.settings.big-img | img_url: 'master' }}" alt="{{ section.settings.big-img-alt }}">
            </picture>
            <picture class="natural__img-small">
                <source media="(max-width: 600px)" srcset="{{ section.settings.small-img | img_url: 'master' }}">
                <source media="(max-width: 1200px)" srcset="{{ section.settings.small-img | img_url: 'master' }}">
                <img src="{{ section.settings.small-img | img_url: 'master' }}" alt="{{ section.settings.small-img-alt }}">
            </picture>
        </div>
        <div class="natural__container">
            <div class="natural__wrap">
                <div class="natural__text-box">
                    <div class="natural__number">13.</div>
                    <div class="natural__heading">
                        <h5>{{ section.settings.thirteenth-title }}</h5>
                    </div>
                    <div class="natural__text">
                        {{ section.settings.thirteenth-copy }}
                    </div>
                </div>
                <div class="natural__text-box">
                    <div class="natural__number">14.</div>
                    <div class="natural__heading">
                        <h5>{{ section.settings.fourteenth-title }}</h5>
                    </div>
                    <div class="natural__text">
                        {{ section.settings.fourteenth-copy }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "ZigZag Partials 6",
    "settings": [
        {
            "id": "big-img",
            "type": "image_picker",
            "label": "Big Image"
        },
        {
            "id": "big-img-alt",
            "type": "text",
            "label": "Big Image Alt"
        },
        {
            "id": "small-img",
            "type": "image_picker",
            "label": "Small Image"
        },
        {
            "id": "small-img-alt",
            "type": "text",
            "label": "Small Image Alt"
        },
        {
            "id": "thirteenth-title",
            "type": "text",
            "label": "13. Section Title",
            "default": "Licorice root extract:"
        },
        {
            "id": "thirteenth-copy",
            "type": "richtext",
            "label": "13. Section Copy"
        },
        {
            "id": "fourteenth-title",
            "type": "text",
            "label": "14. Section Title",
            "default": "Natural Oils:"
        },
        {
            "id": "fourteenth-copy",
            "type": "richtext",
            "label": "14. Section Copy"
        }
    ]
}
{% endschema %}