<section class="sodium">
    <div class="sodium__content">
        <div class="sodium__img-box">
            <picture class="sodium__img">
                <source media="(max-width: 600px)" srcset="{{ section.settings.big-img | img_url: 'master' }}">
                <source media="(max-width: 1200px)" srcset="{{ section.settings.big-img | img_url: 'master' }}">
                <img src="{{ section.settings.big-img | img_url: 'master' }}" alt="{{ section.settings.big-img-alt }}">
            </picture>
        </div>
        <div class="sodium__container">
            <picture class="sodium__img-small">
                <source media="(max-width: 600px)" srcset="{{ section.settings.small-img | img_url: 'master' }}">
                <source media="(max-width: 1200px)" srcset="{{ section.settings.small-img | img_url: 'master' }}">
                <img src="{{ section.settings.small-img | img_url: 'master' }}" alt="{{ section.settings.small-img-alt }}">
            </picture>
            <div class="sodium__wrap">
                <div class="sodium__text-box">
                    <div class="sodium__number">18.</div>
                    <div class="sodium__heading">
                        <h5>{{ section.settings.eighteenth-title }}</h5>
                    </div>
                    <div class="sodium__text">
                        {{ section.settings.eighteenth-copy }}
                    </div>
                </div>
                <div class="sodium__text-box">
                    <div class="sodium__number">19.</div>
                    <div class="sodium__heading">
                        <h5>{{ section.settings.nineteenth-title }}</h5>
                    </div>
                    <div class="sodium__text">
                        {{ section.settings.nineteenth-copy }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "ZigZag Partials 8",
    "settings": [
        {
            "id": "eighteenth-title",
            "type": "text",
            "label": "18. Section Title",
            "default": "Plant Derived Extracts:"
        },
        {
            "id": "eighteenth-copy",
            "type": "richtext",
            "label": "18. Section Copy"
        },
        {
            "id": "nineteenth-title",
            "type": "text",
            "label": "19. Section Title",
            "default": "Sodium Lactate:"
        },
        {
            "id": "nineteenth-copy",
            "type": "richtext",
            "label": "19. Section Copy"
        },
        {
            "id": "small-img",
            "type": "image_picker",
            "label": "Small Image"
        },
        {
            "id": "small-img-alt",
            "type": "text",
            "label": "Small Image Alt"
        },
        {
            "id": "big-img",
            "type": "image_picker",
            "label": "Big Image"
        },
        {
            "id": "big-img-alt",
            "type": "text",
            "label": "Big Image Alt"
        }
    ],
    "presets": [
        {
        "category": "ZigZags",
        "name": "Partial 8"
        }
    ]
}
{% endschema %}