<section class="features zigzag">

    <!-- TOP SECTION -->
    <div class="features__content-top">

        <!-- TOP TITLE -->
        <div 
        data-scroll 
        data-scroll-direction="vertical" 
        data-scroll-repeat="false"
        class="container should-animate from-y">
            <div class="features__heading-box">
                <span class="features__subtitle">
                    {{product.metafields.zigzag.subtitle}}
                </span>
                <div class="features__heading">
                    <h2>{{product.metafields.zigzag.title}}</h2>
                </div>
            </div>
        </div>
        <!-- END :: TOP TITLE -->

        <div class="features__container d-flex flex-column-reverse flex-md-row mb-5 mb-md-0">

            <!-- FEATURES LIST -->
            <div class="features__wrap">
                <div 
                data-scroll 
                data-scroll-direction="vertical" 
                data-scroll-repeat="false"
                class="features__heading-sub ml-3-lg should-animate from-y dl-1">
                    <h3>{{product.metafields.zigzag.first_title}}</h3>
                </div>
                <ul 
                data-scroll 
                data-scroll-direction="vertical" 
                data-scroll-repeat="false"
                class="features__list should-animate from-y dl-1">
                {% for column in product.metafields.zigzag.first_list %} 
                {%- assign columnTitle = column -%}
                    <li class="features__item">{{ product.metafields.zigzag.first_list[forloop.index0] }}</li>
                {% endfor %}
                </ul>
            </div>
            <!-- END :: FEATURES LIST -->


            <!-- IMAGE -->
            <div class='parallax-wrapper col-md-6'>
                <div class='parallax-element'>
                    <picture 
                    data-scroll 
                    data-scroll-speed="-.85"
                    class="features__img-box">
                        <source media="(max-width: 600px)" srcset="{{product.metafields.zigzag.image}}">
                        <source media="(max-width: 1200px)" srcset="{{product.metafields.zigzag.image}}">
                        <img src="{{product.metafields.zigzag.image}}" alt="{{product.title}}">
                    </picture>
                </div>
            </div>
            <!-- IMAGE -->


        </div>

    </div>
    <!-- END :: TOP SECTION -->


    <!-- MIDDLE SECTION -->
    <div class="features__content-mid">

        <!-- LEFT COLUMN -->
        <div class="features__left-box-mid">

            <div 
            data-scroll 
            data-scroll-direction="vertical" 
            data-scroll-repeat="false"
            class="features__title should-animate from-y">
                <h2>{{product.metafields.zigzag.second_title}}</h2>
            </div>

            <div 
            data-scroll 
            data-scroll-direction="vertical" 
            data-scroll-repeat="false"
            class="features__img-box-mid should-animate from-y dl-1">
                <picture class="features__img-mid">
                    <source media="(max-width: 600px)" srcset="{{product.metafields.zigzag.second_left_image}}">
                    <source media="(max-width: 1200px)" srcset="{{product.metafields.zigzag.second_left_image}}">
                    <img src="{{product.metafields.zigzag.second_left_image}}" alt="{{ product.title }}">
                </picture>
            </div>

            <div 
            data-scroll 
            data-scroll-direction="vertical" 
            data-scroll-repeat="false"
            class="features__text-wrap should-animate from-y dl-2">
                <div class="features__text-desc">
                    {{product.metafields.zigzag.left_first}}
                </div>
                <div class="features__text-big">
                   {{product.metafields.zigzag.left_second}}
                </div>
                <div class="features__text-small">
                    {{product.metafields.zigzag.left_third}}
                </div>
            </div>

        </div>
        <!-- END :: LEFT COLUMN -->

        <!-- RIGHT COLUMN -->
        <div class="features__right-box-mid">
            <div 
            data-scroll 
            data-scroll-direction="vertical" 
            data-scroll-repeat="false"
            class="features__heading-sub should-animate from-y dl-1">
                <h3>{{product.metafields.zigzag.right_title}}</h3>
            </div>

            <div 
            data-scroll 
            data-scroll-direction="vertical" 
            data-scroll-repeat="false"
            class="features__text-mid should-animate from-y dl-2">
                <p>{{product.metafields.zigzag.right_content}}</p>
            </div>
        </div>
        <!-- END :: RIGHT COLUMN -->

    </div>
    <!-- END :: MIDDLE SECTION -->

    <!-- BOTTOM SECTION -->
    <div class="features__content-bottom">
        <!-- IMAGE WRAPPER -->
        <div class="features__img-box-bottom parallax-wrapper">
            <div class="parallax-element">
                <picture 
                data-scroll 
                data-scroll-speed="-.85"
                class="features__img-bottom">
                    <source media="(max-width: 600px)" srcset="{{product.metafields.zigzag.third_image}}">
                    <source media="(max-width: 1200px)" srcset="{{product.metafields.zigzag.third_image}}">
                    <img src="{{product.metafields.zigzag.third_image}}" alt="{{product.title}}">
                </picture>
            </div>
        </div>
        <!-- END :: IMAGE WRAPPER -->

        <!-- NUMBERED LIST -->
        <div class="features__wrap-bottom">
            <div 
            data-scroll 
            data-scroll-direction="vertical" 
            data-scroll-repeat="false"
            class="features__heading-sub should-animate dl-1 from-y">
                <h3>{{product.metafields.zigzag.third_part_title}}</h3>
            </div>

            <div 
            data-scroll 
            data-scroll-direction="vertical" 
            data-scroll-repeat="false"
            class="features__text-bottom should-animate dl-2 from-y">
                <p>
                  {% assign counter = 1%}

                {% for column in product.metafields.zigzag.third_list %} 
                    {%- assign columnTitle = column -%}
                    <span class="features__separator"><span class="features__num">0{{ counter }}.</span>{{ product.metafields.zigzag.third_list[forloop.index0] }}</span>
                    {% assign counter = counter | plus:1 %}
                {% endfor %}
                </p>
            </div>
            {% if product.metafields.zigzag.disclaimer %}
        <div style="color: #7f7f7f;" class="disclaimer">
            {{product.metafields.zigzag.disclaimer}}
        </div>
        {% endif %}
        </div>
        <!-- END :: NUMBERED LIST -->

    </div>
    <!-- END :: BOTTOM SECTION -->

</section>

{% schema %}
{
    "name": "zigzag",
    "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "Main title",
            "default": "Cleanse to glow"
        },
        {
            "id": "subtitle",
            "type": "text",
            "label": "Main subtitle",
            "default": "Don't let cleanser take away your glow."
        },
        {
            "id": "first-img-mob",
            "type": "image_picker",
            "label": "First section image mobile"
        },
        {
            "id": "first-img-tab",
            "type": "image_picker",
            "label": "First section image tablet"
        },
        {
            "id": "first-img-desk",
            "type": "image_picker",
            "label": "First section image desktop"
        },
        {
            "id": "first-img-alt",
            "type": "text",
            "label": "First section image alt"
        },
        {
            "id": "first-title",
            "type": "text",
            "label": "First section title"
        },
        {
            "id": "second-title",
            "type": "text",
            "label": "Second section title"
        },
        {
            "id": "second-img-mob",
            "type": "image_picker",
            "label": "Second section image mobile"
        },
        {
            "id": "second-img-tab",
            "type": "image_picker",
            "label": "Second section image tablet"
        },
        {
            "id": "second-img-desk",
            "type": "image_picker",
            "label": "Second section image desktop"
        },
        {
            "id": "second-img-alt",
            "type": "text",
            "label": "Second section image alt"
        },
        {
            "id": "second-copy-1",
            "type": "richtext",
            "label": "Second section copy 1"
        },
        {
            "id": "second-copy-2",
            "type": "richtext",
            "label": "Second section copy 2"
        },
        {
            "id": "second-copy-3",
            "type": "richtext",
            "label": "Second section copy 3"
        },
        {
            "id": "second-content-title",
            "type": "richtext",
            "label": "Second content title"
        },
        {
            "id": "second-content",
            "type": "richtext",
            "label": "Second content"
        },
        {
            "id": "third-img-mob",
            "type": "image_picker",
            "label": "Third section image mobile"
        },
        {
            "id": "third-img-tab",
            "type": "image_picker",
            "label": "Third section image tablet"
        },
        {
            "id": "third-img-desk",
            "type": "image_picker",
            "label": "Third section image desktop"
        },
        {
            "id": "third-img-alt",
            "type": "text",
            "label": "Third section image alt"
        },
        {
            "id": "third-title",
            "type": "text",
            "label": "Third section title"
        }
    ],
    "blocks": [
        {
            "name": "FirstSectionList",
            "type": "first-section-list",
            "settings": [
                {
                    "id": "first-list-item",
                    "type": "text",
                    "label": "List item"
                }
            ]
        },
        {
            "name": "ThirdSectionList",
            "type": "third-section-list",
            "settings": [
                {
                    "id": "third-list-item",
                    "type": "text",
                    "label": "List item"
                }
            ]
        }
    ],
    "presets": [
    {
    "category": "General",
    "name": "ZigZag"
    }
]
}
{% endschema %}