<section class="collagen">
    <div class="collagen__content">
        <div class="collagen__img-box">
            <picture class="collagen__img">
                <source media="(max-width: 600px)" srcset="{{ section.settings.img | img_url: 'master' }}">
                <source media="(max-width: 1200px)" srcset="{{ section.settings.img | img_url: 'master' }}">
                <img src="{{ section.settings.img | img_url: 'master' }}" alt="{{ section.settings.img-alt }}">
            </picture>
        </div>
        <div class="collagen__container">
            <div class="collagen__wrap">
                <div class="collagen__text-box">
                    <div class="collagen__number">10.</div>
                    <div class="collagen__heading">
                        <h5>{{ section.settings.tenth-title }}</h5>
                    </div>
                    <div class="collagen__text">
                        {{ section.settings.tenth-copy }}
                    </div>
                </div>
                <div class="collagen__text-box">
                    <div class="collagen__number">11.</div>
                    <div class="collagen__heading">
                        <h5>{{ section.settings.eleventh-title }}</h5>
                    </div>
                    <div class="collagen__text">
                        {{ section.settings.eleventh-copy }}
                    </div>
                </div>
                <div class="collagen__text-box">
                    <div class="collagen__number">12.</div>
                    <div class="collagen__heading">
                        <h5>{{ section.settings.twelfth-title }}</h5>
                    </div>
                    <div class="collagen__text">
                        {{ section.settings.twelfth-copy }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
{
    "name": "ZigZag Partials 5",
    "settings": [
        {
            "id": "img",
            "type": "image_picker",
            "label": "Image"
        },
        {
            "id": "img-alt",
            "type": "text",
            "label": "Image Alt"
        },
        {
            "id": "tenth-title",
            "type": "text",
            "label": "Tenth Section Title",
            "default": "Grapevine extract:"
        },
        {
            "id": "tenth-copy",
            "type": "richtext",
            "label": "Tenth Section Copy"
        },
        {
            "id": "eleventh-title",
            "type": "text",
            "label": "Eleventh Section Title",
            "default": "Hydrolyzed Collagen:"
        },
        {
            "id": "eleventh-copy",
            "type": "richtext",
            "label": "Eleventh Section Copy"
        },
        {
            "id": "twelfth-title",
            "type": "text",
            "label": "Twelfth Section Title",
            "default": "Jojoba seed oil: "
        },
        {
            "id": "twelfth-copy",
            "type": "richtext",
            "label": "Twelfth Section Copy"
        }
    ],
    "presets": [
        {
        "category": "ZigZags",
        "name": "Partial 5"
        }
    ]
}
{% endschema %}