{%- comment -%}
{% case name %}
  {% when 'search' %}
    {% assign viewBox = "0 0 26 26" %}
    {% assign shape = '<path d="M2 9c0-3.86 3.14-7 7-7s7 3.14 7 7-3.14 7-7 7-7-3.14-7-7zm24 15.585l-9.972-9.972A8.954 8.954 0 0018 9a9 9 0 10-9 9 8.96 8.96 0 005.614-1.972L24.586 26 26 24.585z" fill-rule="evenodd"/>' %}
  {% else %}
  🤔
{% endcase %}

<svg xmlns="http://www.w3.org/2000/svg" viewBox="{{ viewBox }}" {% if id %}id="{{ id }}"{% endif %} {% if class %}class="{{ class }}"{% endif %}>
  {% if svg_title %} <title>{{ svg_title }}</title> {% endif %}
  {{ shape }}
</svg>
{%- endcomment -%}

{% case name %}
  {% when 'logo' %}
    <svg viewBox="0 0 30 46" version="1.1" xmlns="http://www.w3.org/2000/svg" {% if id %} id="{{ id }}" {% endif %} {% if class %} class="{{ class }}" {% endif %}>
      {% if title %}
        <title>{{ title }}</title>
      {% endif %}
      <path d="M6.44,8.52 L3,5.06 L8,0 L14.67,6.67 L19.4,2 C20.7784817,0.747037415 22.8980048,0.797559002 24.2152229,2.11477709 C25.532441,3.43199519 25.5829626,5.55151831 24.33,6.93 L19.64,11.6 L29.39,21.35 L24.33,26.41 L24.33,26.41 L19.75,31 L27,38.21 C28.0269628,39.084479 28.4733807,40.4630997 28.1539358,41.7735657 C27.8344908,43.0840316 26.8037311,44.1025689 25.489548,44.4063599 C24.1753649,44.7101509 22.8021672,44.2473205 21.94,43.21 L14.7,36 L14.7,36 L9.77,31.12 L9.77,31.12 L5,26.29 L5,26.29 L0,21.38 L0,21.38 L0,21.38 L5.07,16.3 L5.07,16.3 L7.51,13.86 L12.43,18.78 L10,21.23 L14.83,26.06 L19.4,21.48 L15.9,18 L15.9,18 L6.44,8.52 Z M12.44,38.25 L5,45.69 L0.12,40.77 L7.56,33.33 L12.44,38.25 Z"/>
    </svg>
  {% when 'x' %}
    <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" {% if id %} id="{{ id }}" {% endif %} {% if class %} class="{{ class }}" {% endif %}>
      {% if title %}
        <title>{{ title }}</title>
      {% endif %}
      <path d="M18.264324,5.1786126 L18.3763468,5.27648415 L18.3763468,5.27648415 L18.4009723,5.30178222 C18.7515415,5.66192522 18.7515415,6.23574626 18.4009723,6.59588926 L13.308,11.826 L18.7378445,17.4041107 C19.0884137,17.7642537 19.0884137,18.3380748 18.7378445,18.6982178 L18.7132189,18.7235158 C18.3906901,19.0548527 17.8779217,19.0890094 17.5162851,18.8213874 L17.4129028,18.7322735 L17.4129028,18.7322735 L12,13.171 L6.59573765,18.7235158 C6.27320882,19.0548527 5.76044047,19.0890094 5.39880387,18.8213874 L5.28678109,18.7235158 L5.28678109,18.7235158 L5.26215552,18.6982178 C4.9115863,18.3380748 4.9115863,17.7642537 5.26215552,17.4041107 L10.691,11.826 L5.59902769,6.59588926 C5.24845846,6.23574626 5.24845846,5.66192522 5.59902769,5.30178222 L5.62365325,5.27648415 C5.97550288,4.91502578 6.55375327,4.90723635 6.91521164,5.25908598 L12,10.482 L17.0673902,5.27648415 C17.389919,4.94514731 17.9026874,4.91099062 18.264324,5.1786126 L18.264324,5.1786126 Z"/>
    </svg>
  {% when '+' %}
    <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" {% if id %} id="{{ id }}" {% endif %} {% if class %} class="{{ class }}" {% endif %}>
      {% if title %}
        <title>{{ title }}</title>
      {% endif %}
      <path d="M6,0 C6.55228475,0 7,0.44771525 7,1 L7,1 L7,5 L11,5 C11.5128358,5 11.9355072,5.38604019 11.9932723,5.88337887 L12,6 C12,6.55228475 11.5522847,7 11,7 L11,7 L7,7 L7,11 C7,11.5128358 6.61395981,11.9355072 6.11662113,11.9932723 L6,12 C5.44771525,12 5,11.5522847 5,11 L5,11 L5,7 L1,7 C0.487164161,7 0.0644928393,6.61395981 0.00672773133,6.11662113 L0,6 C0,5.44771525 0.44771525,5 1,5 L1,5 L5,5 L5,1 C5,0.487164161 5.38604019,0.0644928393 5.88337887,0.00672773133 Z" transform="translate(6.000000, 6.000000)"/>
    </svg>
  {% when '-' %}
    <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" {% if id %} id="{{ id }}" {% endif %} {% if class %} class="{{ class }}" {% endif %}>
      {% if title %}
        <title>{{ title }}</title>
      {% endif %}
      <path d="M1,2 L11,2 C11.5522847,2 12,1.55228475 12,1 C12,0.44771525 11.5522847,0 11,0 L1,0 C0.44771525,0 0,0.44771525 0,1 C0,1.55228475 0.44771525,2 1,2 Z" transform="translate(6.000000, 11.000000)"/>
    </svg>  
  {% when 'arrow' %}
    <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" {% if id %} id="{{ id }}" {% endif %} {% if class %} class="{{ class }}" {% endif %}>
      {% if title %}
        <title>{{ title }}</title>
      {% endif %}
      <polygon points="11.689 16.941 15.55 12.999 4.589 12.999 4.589 11.001 15.55 11.001 11.689 7.059 13.066 5.655 19.411 12 13.066 18.345"/>
    </svg>
  {% when 'heart' %}
    <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" {% if id %} id="{{ id }}" {% endif %} {% if class %} class="{{ class }}" {% endif %}>
      {% if title %}
        <title>{{ title }}</title>
      {% endif %}
      <path d="M 12 20 L 10.84 18.921 C 6.72 15.104 4 12.586 4 9.496 C 4 6.978 5.936 5 8.4 5 C 9.792 5 11.128 5.662 12 6.708 C 12.872 5.662 14.208 5 15.6 5 C 18.064 5 20 6.978 20 9.496 C 20 12.586 17.28 15.104 13.16 18.929 L 12 20 Z"/>
    </svg>
  {% when 'zoom' %}
    <svg viewBox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg" {% if id %} id="{{ id }}" {% endif %} {% if class %} class="{{ class }}" {% endif %}>
      {% if title %}
        <title>{{ title }}</title>
      {% endif %}
      <g transform="translate(-3.000000, -3.000000)">
        <path d="M11,3 C15.418278,3 19,6.581722 19,11 C19,13.1418068 18.1583212,15.0870289 16.7876799,16.5229503 L19.5571068,19.2928932 C19.9476311,19.6834175 19.9476311,20.3165825 19.5571068,20.7071068 C19.1966228,21.0675907 18.6293918,21.0953203 18.2371006,20.7902954 L18.1428932,20.7071068 L15.2281424,17.7926513 C14.0014012,18.5578638 12.5523338,19 11,19 C6.581722,19 3,15.418278 3,11 C3,6.581722 6.581722,3 11,3 Z M11,4.77777778 C7.56356156,4.77777778 4.77777778,7.56356156 4.77777778,11 C4.77777778,14.4364384 7.56356156,17.2222222 11,17.2222222 C14.4364384,17.2222222 17.2222222,14.4364384 17.2222222,11 C17.2222222,7.56356156 14.4364384,4.77777778 11,4.77777778 Z M11,7 C11.5128358,7 11.9355072,7.38604019 11.9932723,7.88337887 L12,8 L12,10 L14,10 C14.5128358,10 14.9355072,10.3860402 14.9932723,10.8833789 L15,11 C15,11.5128358 14.6139598,11.9355072 14.1166211,11.9932723 L14,12 L12,12 L12,14 C12,14.5128358 11.6139598,14.9355072 11.1166211,14.9932723 L11,15 C10.4871642,15 10.0644928,14.6139598 10.0067277,14.1166211 L10,14 L10,12 L8,12 C7.48716416,12 7.06449284,11.6139598 7.00672773,11.1166211 L7,11 C7,10.4871642 7.38604019,10.0644928 7.88337887,10.0067277 L8,10 L10,10 L10,8 C10,7.48716416 10.3860402,7.06449284 10.8833789,7.00672773 L11,7 Z"></path>
      </g>
    </svg>
  {% else %}
    🤔
{% endcase %}
