{% assign sofav = product.selected_or_first_available_variant %}
<div class="product-wrap">
  <div class="mt-5 d-flex justify-content-between product-template-holder flex-wrap flex-md-nowrap">
    <div class="placeholder">
      <div id="img-slider" class="swiper-container gallery-top">
            <div class="swiper-wrapper">
              {% for image in product.images %}
              <div class="swiper-slide">
                <img src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
              </div>
              {% endfor %}
            </div>
            {% if product.images.size > 1 %}
            <div class="fp-swiper-button-next"></div>
            <div class="fp-swiper-button-prev"></div>
            {% endif %}
      </div>
      {% if product.images.size > 1 %}
      <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
              {% for image in product.images %}
              <div class="swiper-slide">
                <img src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
              </div>
              {% endfor %}
            </div>
      </div>
      {% endif %}
    </div>
  <div id="pdp" class="pdp"
    data-product-handle="{{ product.handle }}" data-sofav-id="{{ sofav.id }}"
    data-variant-count="{{ product.variants.size }}"
    data-image-count="{{ product.images.size }}" v-cloak>


    {% comment %} {% for image in product.images %}
      <img src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
    {% endfor %} {% endcomment %}



    <section class="hide" v-bind:class = "(dataLoaded)?'loaded':'not-loaded'" v-show="dataLoaded">
    <h2 class="h2 font-sans product-title">{{ product.title }}</h2>
    {% render 'stars' %}
      <section class="product-price font-sans h5" v-if="selectedVariantData">
        <span v-if="selectedVariantData.compareAtPriceV2 !== null" class="h5 discount-price color-disc">$${
          selectedVariantCompareAtPrice }</span>
        <span class="price type--m">$${ selectedVariantPrice }</span>
      </section>
      {% form 'product', product, class: "product-app__form" %}
      <div class="options d-flex flex-column">
        <section v-for="(option, index) in productData.options" class="product-app__option p1 font-sans"
          :class="[ optionTypeMap[option.name] ]" :key="option.name">
          <div class="select-holder position-relative d-block d-md-flex align-items-center justify-content-between">
          <div class="mr-3">${ option.name }:</div>
          <div class="select-arrow position-absolute">
            {% render 'down'%}
          </div>
            <select
              class=""
              v-model="selectedOptions[index].value" @change="setSelectedVariant" :name="`option-${index + 1}`" :id="`option-${index + 1}`">
              <option v-for="value in option.values" :disabled="!isPotentialVariantAvailable(index, value)" :value="value"
                :key="value">
                ${value}
              </option>
            </select>
          </div>
        </section>
        </div>
        <input type="hidden" name="id" :value="selectedVariantId">
        <div class="select-holder q-holder d-flex justify-content-between align-items-center">
          <p class="p1 font-sans">Choose quantity</p>
          <div class="quantity-toggle font-sans">
              <div class="b" @click="decrement()">&mdash;</div>
              <input type="text" :value="quantity" readonly>
              <div class="c" @click="increment()">&#xff0b;</div>
          </div>
        </div>
        <input type="submit" :disabled="!selectedVariantIsAvailable" :value="selectedVariantIsAvailable ? 'Add to Cart' : 'Unavailable'" :data-quantity="quantity" :data-variant-id="selectedVariantId"
            class="product-app__atc-button atc-button cta hero-button color-white bg-black button-big h4 justify-content-center flex-column text-center font-sans add-q">
      {% endform %}
        <div class="product-app__desc-wrap__desc type--p p1 font-sans product-description" :class="{show: descShown}">
          {{ product.description }}
        </div>
    </section>
  </div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
{% if product.images.size > 2 %}
<script>
  var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      slidesPerView: 4,
      loop:true,
      freeMode: true,
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
      loop:true,
      navigation: {
          nextEl: '.fp-swiper-button-next',
          prevEl: '.fp-swiper-button-prev',
        },
        thumbs: {
          swiper: galleryThumbs
        }
    });

</script>
{% else %}
<script>
  var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      slidesPerView: 4,
      loop:false,
      freeMode: true,
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
      loop:false,
      navigation: {
          nextEl: '.fp-swiper-button-next',
          prevEl: '.fp-swiper-button-prev',
        },
        thumbs: {
          swiper: galleryThumbs
        }
    });

</script>
{% endif %}
</div>