<section class="types">
  <div class="container">
    <p class="types__subtitle">my skin type is:</p>
    <div class="types__wrap">
      <div class="types__card">
        <div class="types__img-box">
          <picture class="types__img">
            <source
              media="(max-width: 1200px)"
              srcset="{{ "test-regcontrl-tablet-1.jpg" | asset_url }}"
            />
            <img
              src="{{ "test-regcontrl-1.jpg" | asset_url }}"
              alt="Uruoi Home Background Image"
            />
          </picture>
        </div>
        <span class="types__span types__active">  Oily/Combination </span>
      </div>
      <div class="types__card">
        <div class="types__img-box">
          <picture class="types__img">
            <source
              media="(max-width: 1200px)"
              srcset="{{ "test-regcontrl-tablet-2.jpg" | asset_url }}"
            />
            <img
              src="{{ "test-regcontrl-2.jpg" | asset_url }}"
              alt="Uruoi Home Background Image"
            />
          </picture>
        </div>
        <span class="types__span"> Normal </span>
      </div>
      <div class="types__card">
        <div class="types__img-box">
          <picture class="types__img">
            <source
              media="(max-width: 1200px)"
              srcset="{{ "test-regcontrl-tablet-3.jpg" | asset_url }}"
            />
            <img
              src="{{ "test-regcontrl-3.jpg" | asset_url }}"
              alt="Uruoi Home Background Image"
            />
          </picture>
        </div>
        <span class="types__span"> Sensitive </span>
      </div>
      <div class="types__card">
        <div class="types__img-box">
          <picture class="types__img">
            <source
              media="(max-width: 1200px)"
              srcset="{{ "test-regcontrl-tablet-4.jpg" | asset_url }}"
            />
            <img
              src="{{ "test-regcontrl-4.jpg " | asset_url }}"
              alt="Uruoi Home Background Image"
            />
          </picture>
        </div>
        <span class="types__span"> dry skin </span>
      </div>
    </div>
  </div>
</section>
