<!--  
<header class="">
  <div id="promoBar" class="">
      {% render 'global-promo-bar' %}
  </div>
  <nav class="d-flex top-bar-color align-items-center justify-content-between">
        <div class="logo">
            <a href="/">{% render 'logo' %}</a>
        </div>
        <button class="mobile-show mobile-cart position-relative icon_cart clickable--contained clickable--contained--primary margin-bottom--s cart-toggle" href="#">
            <span class="cart-counter cart-toggle__count font-sans"></span>
            {% render 'icon-cart' %}
        </button>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
        {%- for link in linklists.main-menu.links -%}
            <li><a {% if link.active %}aria-current="page"{% endif %} class="p1 color-black font-sans hover-underline" href="{{ link.url }}">{{ link.title }}</a></li>
         {%- endfor -%}
            <li class="">
            {% comment %} <span class="cart-num-items font-sans position-absolute">{{ cart.item_count }}</span> {% endcomment %}

            <button class="position-relative icon_cart clickable--contained clickable--contained--primary margin-bottom--s cart-toggle" href="#">
            <span class="cart-counter cart-toggle__count font-sans"></span>
            {% render 'icon-cart' %}</button>
            </li>

        </ul>
    </nav>
  {% comment %} <nav class="global-header__nav">
    <a class="clickable--contained clickable--contained--primary" href="/">Home</a>
    <button class="clickable--contained clickable--contained--primary margin-bottom--s cart-toggle">Toggle Cart</button>
  </nav> {% endcomment %}
</header>
-->

 <header class="header"> <!-- header--scrolled for white navigation -->
    <div class="container-fluid">
        <div class="header__container">
            <button class="header__hamburger"></button>
            <a class="header__logo" href="{{ shop.url }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 164.39 46.7" data-v-031b4837=""><title>URUOI Logo</title> <g><g><path d="M25.11,32A10.39,10.39,0,1,1,4.33,32V9.81H0V32a14.72,14.72,0,1,0,29.43,0V9.81H25.11Z"></path> <path d="M99.59,32A10.4,10.4,0,1,1,78.8,32V9.81H74.47V32a14.73,14.73,0,0,0,29.45,0V9.81H99.59Z"></path> <path d="M132.6,8.84A15.2,15.2,0,0,0,117.41,24v7.48a15.18,15.18,0,1,0,30.36,0V24A15.2,15.2,0,0,0,132.6,8.84Zm10.86,22.68a10.86,10.86,0,0,1-21.72,0V24a10.86,10.86,0,1,1,21.72,0Z"></path> <rect x="160.07" y="9.83" width="4.33" height="36.38"></rect> <path d="M50.4,14.85v-5H46.07v36.4H50.4V26.33A13.18,13.18,0,0,1,63.56,13.17V8.84A17.45,17.45,0,0,0,50.4,14.85Z"></path> <rect x="160.07" width="4.33" height="4.33"></rect></g></g></svg>
            </a>
            <ul class="header__menu header__menu--center">
                <li><a href="#">shop</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">regimen</a></li>
                <li><a href="#">login</a></li>
            </ul>
            <ul class="header__menu header__menu--sec">
                <li><a href="#">login</a></li>
                <li class="header__cart-desk"><button class="header__menu-toggler cart-toggle">cart{% if cart.item_count > 0 %}({{ cart.item_count }}){% endif %} </button></li>
            </ul>
            <button class="header__cart-mob cart-toggle">{% include 'cart-icon' %} {% if cart.item_count > 0 %}<span>{{ cart.item_count }}</span>{% endif %}</button>
        </div>
    </div>
</header>

<script>
    const hamburger = document.querySelector('.header__hamburger');
    const header = document.querySelector('.header');

    function toggleHamburger() {
        header.classList.toggle('header--open');
    }


    hamburger.addEventListener('click', toggleHamburger);
</script>