{% assign heroTitle = section.settings.hero_text %}
{% assign heroSubTitle = section.settings.hero_subtext %}
{% assign imageCheckerDesk = section.settings.image_desk | img_url %}
{% assign imageCheckerMobile = section.settings.image_mobile | img_url %}
{% if imageCheckerDesk contains 'no-image' %} 
    {% assign heroImageDesk = 'https://cdn.shopify.com/s/files/1/0558/9096/8784/files/Mask_Group_4.png?v=1618384527' %}
{% else %}
    {% assign heroImageDesk = section.settings.image_desk| img_url: '2000x' %}
{% endif %}
{% if imageCheckerMobile contains 'no-image' %} 
    {% assign heroImageMobile = 'https://cdn.shopify.com/s/files/1/0558/9096/8784/files/Mask_Group_4.png?v=1618384527' %}
{% else %}
    {% assign heroImageMobile = section.settings.image_mobile | img_url: '2000x' %}
{% endif %}
<div class="page-hero position-relative d-none d-md-flex justify-content-center align-items-center" style="background: url({{heroImageDesk}}) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
  {% comment %} <img class="d-none d-md-block w-100" src="{{heroImageDesk}}">
  <img class="d-md-none d-sm-block w-100" src="{{heroImageMobile}}"> {% endcomment %}
    <div class="hero-wrap">
        <div class="hero-text text-center">
            <h1 class="h1 color-black mb-3 font-lora">{{ heroTitle }}</h1>
            <p class="p1 hero-paragraph font-sans">{{ heroSubTitle }}</p>
        </div>
    </div>
</div>
<div class="hero position-relative d-md-none d-flex justify-content-center align-items-center" style="background: url({{heroImageMobile}}) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
  {% comment %} <img class="d-none d-md-block w-100" src="{{heroImageDesk}}">
  <img class="d-md-none d-sm-block w-100" src="{{heroImageMobile}}"> {% endcomment %}
    <div class="hero-wrap">
        <div class="hero-text text-center">
            <h1 class="h1 color-black mb-3 font-lora">{{ heroTitle }}</h1>
            <p class="p1 hero-paragraph font-sans">{{ heroSubTitle }}</p>
        </div>
    </div>
</div>