<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
  <head>
      <script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/h0jvVTssyZLaCXUy2m8evxepupdMrHDMTuLKsqfh/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
      {% include 'head' %}
      {{ content_for_header }}
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
      <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
      <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>  
      {% include 'font-imports' %}
    </head>
    
  <body class="layout layout--{{ template | handleize }}">
      {% include 'global-header' %}
      {% unless template == 'cart' %}
      {% include 'global-cart' %}
      {% endunless %}
    
      <main data-router-wrapper id="content-for-layout" class="template template--{{ template | handleize }}" >
      
          {{ content_for_layout }}
          
      </main>
      {% include 'json-ld' %}
      {% include 'scripts' %}
  </body>
</html>
  